CREATE TABLE CG_TABELAS_PESQUISA_DINAMICA
(
ID_TABELA INT NOT NULL,
TABELA VARCHAR(50) NOT NULL,
TIPO_TABELA CHAR(1) NOT NULL DEFAULT ('T')
)
GO

ALTER TABLE CG_TABELAS_PESQUISA_DINAMICA
ADD CONSTRAINT PK_CG_TABELAS_PESQUISA_DINAMICA PRIMARY KEY (ID_TABELA)
GO

ALTER TABLE CG_TABELAS_PESQUISA_DINAMICA
ADD CONSTRAINT UNQ_CG_TABELAS_PESQUISA_DINAMICA UNIQUE (TABELA)
GO

INSERT INTO CG_TABELAS_PESQUISA_DINAMICA
SELECT DISTINCT 
ROW_NUMBER() OVER (ORDER BY T1.TABELA) AS ID_TABELA,
T1.TABELA, T1.TIPO_TABELA
FROM (SELECT DISTINCT 
	   TABELA, 
	   CASE 
	   WHEN LEFT(TABELA,2)='VW' THEN 'V'
	   ELSE 'T'
	   END AS TIPO_TABELA
	 FROM CG_PARAMETRO_PESQUISA_DINAMICA) AS T1
GO
