CREATE VIEW VW_CG_PEDIDOVENDA_ITENS
AS
SELECT A.ID_PEDIDO
      ,A.ID_EQUIPAMENTO
	  ,B.MODELO
	  ,B.SERIE
      ,A.QTDE
      ,A.PRECO_VENDA
      ,A.STATUS_ITEM
      ,A.DATA_CADASTRO
      ,A.DATA_BAIXA
      ,A.ULTIMA_ALTERACAO
      ,A.CANCEL
  FROM CG_PEDIDOVENDA_ITENS A
  INNER JOIN CG_EQUIPAMENTO B 
			ON B.ID_EQUIPAMENTO = A.ID_EQUIPAMENTO