CREATE TABLE CG_CONCERTO (
ID_CONCERTO INT NOT NULL,
DESC_CONCERTO VARCHAR(75) NOT NULL,
CONSTRAINT PK_CG_CONCERTO PRIMARY KEY (ID_CONCERTO),
CONSTRAINT UNQ_CG_CONCERTO UNIQUE (DESC_CONCERTO) )
GO

