USE [dbCG]
GO
/****** Object:  StoredProcedure [dbo].[spSelecionaChipNaoAlocado]    Script Date: 07/04/2018 16:21:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spSelecionaItemTabelaNaoAlocado]
@ID_FORNECEDOR INT,
@ID_TABELA VARCHAR(10),
@FILTRO_EXCLUIR VARCHAR(2000),
@TIPO_BUSCA INT = 2,
@TEXTO_BUSCA VARCHAR(30) = ''

AS

IF ISNULL(@TEXTO_BUSCA,'')=''
BEGIN

	SELECT	CAST(0 AS BIT) AS SELECIONADO,
			A.ID_CONCERTO, 
			A.DESC_CONCERTO 
	FROM CG_CONCERTO A	
	WHERE A.ID_CONCERTO NOT IN (SELECT ID_CONCERTO FROM VW_CG_TABELA_SERVICOS_FORNECEDOR_ITEM B
								WHERE B.ID_FORNECEDOR = @ID_FORNECEDOR /*AND B.ID_TABELA = @ID_TABELA*/)
	   AND A.ID_CONCERTO NOT IN (
	   SELECT cast(splitdata as int) as splitdata FROM dbo.fnSplitString(@FILTRO_EXCLUIR,',')
	   )
END
ELSE
BEGIN

	SELECT	CAST(0 AS BIT) AS SELECIONADO,
			A.ID_CONCERTO, 
			A.DESC_CONCERTO 
	FROM CG_CONCERTO A	
	WHERE A.ID_CONCERTO NOT IN (SELECT ID_CONCERTO FROM VW_CG_TABELA_SERVICOS_FORNECEDOR_ITEM B
								WHERE B.ID_FORNECEDOR = @ID_FORNECEDOR /*AND B.ID_TABELA = @ID_TABELA*/)
	   AND A.ID_CONCERTO NOT IN (
	   SELECT cast(splitdata as int) as splitdata FROM dbo.fnSplitString(@FILTRO_EXCLUIR,',')
	   )
	AND A.DESC_CONCERTO LIKE
		  CASE @TIPO_BUSCA
		  WHEN 1 THEN RTRIM(LTRIM(@TEXTO_BUSCA))+'%'
		  WHEN 2 THEN '%'+RTRIM(LTRIM(@TEXTO_BUSCA))+'%'
		  END


END


