USE [dbCG]
GO
/****** Object:  Trigger [dbo].[TGR_CG_EMPRESA_LOJAS]    Script Date: 08/04/2018 15:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor......:	PAULO DEVIDE
-- Criado em..: 24-dez-2017
-- Descrição..:	Insere as Lojas internas para 
--				controle de estoque para cada
--				nova empresa criada
-- =============================================
ALTER TRIGGER [dbo].[TGR_CG_EMPRESA_LOJAS] 
   ON  [dbo].[CG_EMPRESA] 
   AFTER INSERT
AS 
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @PEGACHAVE TABLE (NEWKEY INT)
	DECLARE @ID_TIPO_LOCAL_ESTOQUE AS INT
	DECLARE @DESC_TIPO_LOCAL_ESTOQUE VARCHAR(50)

	SELECT IDENTITY(INT, 1, 1) AS KEYID, ID_TIPO_LOCAL_ESTOQUE, DESC_TIPO_LOCAL_ESTOQUE
	INTO #dbLocais
	FROM CG_TIPO_LOCAL_ESTOQUE WHERE ID_TIPO_LOCAL_ESTOQUE BETWEEN 0 AND 9

	DECLARE @ID_EMPRESA INT, @I INT, @TOT INT, @NEWKEY INT
	SELECT @ID_EMPRESA = INSERTED.ID_EMPRESA
	FROM inserted

	SELECT @TOT = MAX(KEYID) 
	FROM #dbLocais

	IF @TOT>0
	BEGIN

		 INSERT INTO CG_AREA (ID_AREA,DESC_AREA,ID_RESPONSAVEL,USER_INS,DATA_INS,USER_UPD,DATA_UPD,ID_EMPRESA)
		 VALUES ('0000','SEM AREA DEFINIDA',1,1,GETDATE(),1,GETDATE(),@ID_EMPRESA)

	END

	SET @I=1
	WHILE @I <= @TOT
	BEGIN
		DELETE 
			FROM @PEGACHAVE
			
		INSERT INTO 
			@PEGACHAVE EXEC spNovaChave 'CG_LOJA'

		SELECT @NEWKEY = NEWKEY
			FROM @PEGACHAVE

		SELECT @ID_TIPO_LOCAL_ESTOQUE = ID_TIPO_LOCAL_ESTOQUE,
				@DESC_TIPO_LOCAL_ESTOQUE = DESC_TIPO_LOCAL_ESTOQUE
		FROM #dbLocais
		WHERE KEYID = @I

		INSERT INTO CG_LOJA (ID_LOJA, SIGLA, NOME, ID_TIPO_LOCAL, ID_RESPONSAVEL, USER_INS, DATA_INS, 
		USER_UPD, DATA_UPD, CODIGO, TELEFONE, LOJA_FISICA, PARCERIA, ID_AREA, ID_EMPRESA, ID_TIPO_LOCAL_ESTOQUE)
		VALUES (@NEWKEY, @DESC_TIPO_LOCAL_ESTOQUE, @DESC_TIPO_LOCAL_ESTOQUE, 1, 1, 1, 
				GETDATE(), 1, GETDATE(), RIGHT('0000'+CONVERT(VARCHAR,@NEWKEY),4), '...', 0, 0, '0000', 
				@ID_EMPRESA, @ID_TIPO_LOCAL_ESTOQUE)

		SET @I = @I + 1
	END

	/* 
	* INCLUI UM NOVO TRANSITO DE CONTROLE INTERNO NA EMPRESA CRIADA
	*/

	/* não é mais necessário pq o transito é compartilhado para todas empresas
	08-abr-18 --> pacote de 18/abr/18
	==========================================================================
	DECLARE @TABCHAVE TABLE (NEWKEY INT NOT NULL)

	INSERT @TABCHAVE 
	EXEC spNovaChave 'CG_TRANSITO'

	SELECT @NEWKEY= NEWKEY 
	FROM @TABCHAVE

	INSERT INTO CG_TRANSITO VALUES (@NEWKEY, 'TRANSITO INTERNO MATRIZ ('+CONVERT(VARCHAR, @ID_EMPRESA) + ')', 0, @ID_EMPRESA, 1)
	*/
END
