USE [dbCG]
GO
/****** Object:  StoredProcedure [dbo].[spDuplicaTransfere]    Script Date: 21/04/2018 21:08:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spDuplicaTransfere] 
(
@TIPO_CADASTRO CHAR(1), /*(L)oja - (R)esponsavel - (T)ransito - (A)rea */
@OPERACAO CHAR(1),		/*(D)uplica - (T)ransfere */
@ID VARCHAR(8),			/*Chave PK do cadastro a ser duplicado ou transferido */
@ID_EMPRESA_ORIGEM INT,
@ID_EMPRESA_DESTINO INT
)
AS
BEGIN
	DECLARE @MSG VARCHAR(250) = '' /*MENSAGEM DE ERRO*/
	DECLARE @TB_NEWKEY TABLE(NEWKEY INT NULL)
	DECLARE @NEWKEY INT

	IF @OPERACAO='D'
	BEGIN
		
		IF @TIPO_CADASTRO='L'
		BEGIN

			DECLARE @ID_AREA CHAR(8)
			DECLARE @ID_RESPONSAVEL INT
			DECLARE @NOME_RESPONSAVEL VARCHAR(50)
			DECLARE @CODIGO VARCHAR(10)

			SELECT @ID_AREA=A.ID_AREA, @ID_RESPONSAVEL=A.ID_RESPONSAVEL, @CODIGO=A.CODIGO,
					@NOME_RESPONSAVEL = A.RESPONSAVEL 
			FROM VW_CG_LOJA A
			WHERE A.ID_LOJA = CAST(@ID AS INT) AND A.ID_EMPRESA=@ID_EMPRESA_ORIGEM

			/*CHAVE UNICA (CODIGO + ID_EMPRESA) OU SEJA POR EXEMPLO, PODE TER 2 5510 EM EMPRESAS DIFERENTES*/
			IF EXISTS(SELECT 1 FROM CG_LOJA WHERE CODIGO = @CODIGO AND ID_EMPRESA = @ID_EMPRESA_DESTINO) 
			BEGIN
				SET @MSG = 'Ja existe Loja com CODIGO = '+@CODIGO+' na empresa destino!'
				RAISERROR(@MSG, 16, 1) /*RETORNA ERRO PARA O FRONTEND*/
				RETURN -1
			END
			ELSE
			/*INCLUI(DUPLICA) A LOJA NA EMPRESA DESTINO*/
			BEGIN

				IF NOT EXISTS(SELECT 1 FROM CG_RESPONSAVEL WHERE NOME = @NOME_RESPONSAVEL AND ID_EMPRESA = @ID_EMPRESA_DESTINO)
				BEGIN
					DELETE FROM @TB_NEWKEY
					INSERT INTO @TB_NEWKEY
					EXEC spNovaChave 'CG_RESPONSAVEL'
					SELECT @NEWKEY = NEWKEY FROM @TB_NEWKEY

					INSERT INTO [dbo].[CG_RESPONSAVEL]
					   ([ID_RESPONSAVEL]
					   ,[NOME]
					   ,[APELIDO]
					   ,[EMAIL]
					   ,[CELULAR]
					   ,[WHATSAPP]
					   ,[ID_CARGO]
					   ,[USER_INS]
					   ,[DATA_INS]
					   ,[USER_UPD]
					   ,[DATA_UPD]
					   ,[ID_EMPRESA])
					SELECT
						@NEWKEY AS ID_RESPONSAVEL
						,[NOME]
						,[APELIDO]
						,[EMAIL]
						,[CELULAR]
						,[WHATSAPP]
						,[ID_CARGO]
						,[USER_INS]
						,[DATA_INS]
						,[USER_UPD]
						,[DATA_UPD]
						,@ID_EMPRESA_DESTINO AS ID_EMPRESA
					FROM CG_RESPONSAVEL
					WHERE ID_RESPONSAVEL = @ID_RESPONSAVEL
					/* ATUALIZA A CHAVE DO RESPONSAVEL PARA INDICAR NO CADASTRO DE CG_AREA */
					SET @ID_RESPONSAVEL = @NEWKEY
				END
				
				/* VERIFICA SE EXISTE ID_AREA NA EMPRESA DESTINO, SENAO EXISTIR DUPLICA ANTES DE INSERIR A LOJA*/
				IF NOT EXISTS(SELECT 1 FROM CG_AREA WHERE ID_AREA = @ID_AREA AND ID_EMPRESA = @ID_EMPRESA_DESTINO)
				BEGIN
					INSERT INTO [dbo].[CG_AREA]
							   ([ID_AREA]
							   ,[DESC_AREA]
							   ,[ID_RESPONSAVEL]
							   ,[USER_INS]
							   ,[DATA_INS]
							   ,[USER_UPD]
							   ,[DATA_UPD]
							   ,[ID_EMPRESA])
					SELECT 
						[ID_AREA]
						,[DESC_AREA]
						,@ID_RESPONSAVEL AS ID_RESPONSAVEL
						,[USER_INS]
						,[DATA_INS]
						,[USER_UPD]
						,[DATA_UPD]
						,@ID_EMPRESA_DESTINO AS ID_EMPRESA
					FROM CG_AREA WHERE ID_AREA=@ID_AREA AND ID_EMPRESA = @ID_EMPRESA_ORIGEM
				END

				/* INICIO SCRIPT DE INSERT DA LOJA DESTINO */
				DELETE FROM @TB_NEWKEY
				INSERT INTO @TB_NEWKEY
				EXEC spNovaChave 'CG_LOJA'
				SELECT @NEWKEY = NEWKEY FROM @TB_NEWKEY

				INSERT INTO [dbo].[CG_LOJA]
						   ([ID_LOJA]
						   ,[SIGLA]
						   ,[NOME]
						   ,[ENDERECO]
						   ,[COMPLEMENTO]
						   ,[CEP]
						   ,[CIDADE]
						   ,[BAIRRO]
						   ,[UF]
						   ,[ID_TIPO_LOCAL]
						   ,[ID_RESPONSAVEL]
						   ,[USER_INS]
						   ,[DATA_INS]
						   ,[USER_UPD]
						   ,[DATA_UPD]
						   ,[CODIGO]
						   ,[TELEFONE]
						   ,[CELULAR]
						   ,[LOJA_FISICA]
						   ,[PARCERIA]
						   ,[ID_AREA]
						   ,[ID_EMPRESA]
						   ,[ID_TIPO_LOCAL_ESTOQUE])
						   SELECT 
								@NEWKEY AS ID_LOJA
							   ,[SIGLA]
							   ,[NOME]
							   ,[ENDERECO]
							   ,[COMPLEMENTO]
							   ,[CEP]
							   ,[CIDADE]
							   ,[BAIRRO]
							   ,[UF]
							   ,[ID_TIPO_LOCAL]
							   ,@ID_RESPONSAVEL AS ID_RESPONSAVEL
							   ,[USER_INS]
							   ,[DATA_INS]
							   ,[USER_UPD]
							   ,[DATA_UPD]
							   ,[CODIGO]
							   ,[TELEFONE]
							   ,[CELULAR]
							   ,[LOJA_FISICA]
							   ,[PARCERIA]
							   ,[ID_AREA]
							   ,@ID_EMPRESA_DESTINO AS ID_EMPRESA
							   ,[ID_TIPO_LOCAL_ESTOQUE]
						   FROM CG_LOJA 
						   WHERE CODIGO = @CODIGO AND ID_EMPRESA =@ID_EMPRESA_ORIGEM 
				/* FIM SCRIPT DE INSERT DA LOJA DESTINO */

			END

		END /*IF @TIPO_CADASTRO='L'*/

		IF @TIPO_CADASTRO='R'
		BEGIN
			DECLARE @NOME VARCHAR(50)
			select @NOME = nome
			from VW_CG_RESPONSAVEL where ID_EMPRESA=@ID_EMPRESA_ORIGEM AND ID_RESPONSAVEL=CAST(@ID AS INT)

			IF EXISTS(SELECT 1 FROM CG_RESPONSAVEL WHERE NOME = @NOME AND ID_EMPRESA = @ID_EMPRESA_DESTINO)
			BEGIN
				SET @MSG = 'Ja existe RESPONSÁVEL chamado = '+@NOME+' na empresa destino!'
				RAISERROR(@MSG, 16, 1) /*RETORNA ERRO PARA O FRONTEND*/
				RETURN -1
			END
			ELSE
			BEGIN
				DELETE FROM @TB_NEWKEY
				INSERT INTO @TB_NEWKEY
				EXEC spNovaChave 'CG_RESPONSAVEL'
				SELECT @NEWKEY = NEWKEY FROM @TB_NEWKEY

				INSERT INTO [dbo].[CG_RESPONSAVEL]
					([ID_RESPONSAVEL]
					,[NOME]
					,[APELIDO]
					,[EMAIL]
					,[CELULAR]
					,[WHATSAPP]
					,[ID_CARGO]
					,[USER_INS]
					,[DATA_INS]
					,[USER_UPD]
					,[DATA_UPD]
					,[ID_EMPRESA])
				SELECT
					@NEWKEY AS ID_RESPONSAVEL
					,[NOME]
					,[APELIDO]
					,[EMAIL]
					,[CELULAR]
					,[WHATSAPP]
					,[ID_CARGO]
					,[USER_INS]
					,[DATA_INS]
					,[USER_UPD]
					,[DATA_UPD]
					,@ID_EMPRESA_DESTINO AS ID_EMPRESA
				FROM CG_RESPONSAVEL
				WHERE ID_RESPONSAVEL = CAST(@ID AS INT)
			END
	
		END /*IF @TIPO_CADASTRO='R' */

		--IF @TIPO_CADASTRO='T'
		--BEGIN
		--	DECLARE @NOME_TRANSITO VARCHAR(40)
		--	select @NOME_TRANSITO = NOME_TRANSITO
		--	from CG_TRANSITO where ID_EMPRESA=@ID_EMPRESA_ORIGEM AND ID_TRANSITO=CAST(@ID AS INT)

		--	IF EXISTS(SELECT 1 FROM CG_TRANSITO WHERE NOME_TRANSITO = @NOME_TRANSITO AND ID_EMPRESA = @ID_EMPRESA_DESTINO)
		--	BEGIN
		--		SET @MSG = 'Ja existe TRANSITO chamado = '+@NOME_TRANSITO+' na empresa destino!'
		--		RAISERROR(@MSG, 16, 1) /*RETORNA ERRO PARA O FRONTEND*/
		--		RETURN -1
		--	END
		--	ELSE
		--	BEGIN
		--		DELETE FROM @TB_NEWKEY
		--		INSERT INTO @TB_NEWKEY
		--		EXEC spNovaChave 'CG_TRANSITO'
		--		SELECT @NEWKEY = NEWKEY FROM @TB_NEWKEY

		--		INSERT INTO [dbo].[CG_TRANSITO]
		--				   ([ID_TRANSITO]
		--				   ,[NOME_TRANSITO]
		--				   ,[INATIVO]
		--				   ,[ID_EMPRESA]
		--				   ,[CONTROLE_INTERNO])
		--		SELECT 
		--			@NEWKEY AS ID_TRANSITO
		--			,[NOME_TRANSITO]
		--			,[INATIVO]
		--			,@ID_EMPRESA_DESTINO AS ID_EMPRESA
		--			,[CONTROLE_INTERNO]
		--		FROM CG_TRANSITO
		--		WHERE ID_TRANSITO = CAST(@ID AS INT)
		--	END

		--END /*IF @TIPO_CADASTRO='T' */

		IF @TIPO_CADASTRO='A'
		BEGIN
			DECLARE @CODIGO_AREA CHAR(8), @RESPONSAVEL_AREA VARCHAR(50), @ID_RESP_AREA INT
			select @CODIGO_AREA = ID_AREA, @RESPONSAVEL_AREA=NOME, @ID_RESP_AREA=ID_RESPONSAVEL
			from VW_CG_AREA where ID_EMPRESA=@ID_EMPRESA_ORIGEM AND ID_AREA=@ID /*AQUI ID SEM CAST, É STRING*/

			IF NOT EXISTS(SELECT 1 FROM CG_RESPONSAVEL WHERE NOME = @RESPONSAVEL_AREA AND ID_EMPRESA = @ID_EMPRESA_DESTINO)
			BEGIN
				DELETE FROM @TB_NEWKEY
				INSERT INTO @TB_NEWKEY
				EXEC spNovaChave 'CG_RESPONSAVEL'
				SELECT @NEWKEY = NEWKEY FROM @TB_NEWKEY

				INSERT INTO [dbo].[CG_RESPONSAVEL]
					([ID_RESPONSAVEL]
					,[NOME]
					,[APELIDO]
					,[EMAIL]
					,[CELULAR]
					,[WHATSAPP]
					,[ID_CARGO]
					,[USER_INS]
					,[DATA_INS]
					,[USER_UPD]
					,[DATA_UPD]
					,[ID_EMPRESA])
				SELECT
					@NEWKEY AS ID_RESPONSAVEL
					,[NOME]
					,[APELIDO]
					,[EMAIL]
					,[CELULAR]
					,[WHATSAPP]
					,[ID_CARGO]
					,[USER_INS]
					,[DATA_INS]
					,[USER_UPD]
					,[DATA_UPD]
					,@ID_EMPRESA_DESTINO AS ID_EMPRESA
				FROM CG_RESPONSAVEL
				WHERE ID_RESPONSAVEL = @ID_RESP_AREA
				/* ATUALIZA A CHAVE DO RESPONSAVEL PARA INDICAR NO CADASTRO DE CG_AREA */
				SET @ID_RESP_AREA = @NEWKEY
			END

			IF EXISTS(SELECT 1 FROM CG_AREA WHERE ID_AREA = @CODIGO_AREA AND ID_EMPRESA = @ID_EMPRESA_DESTINO)
			BEGIN
				SET @MSG = 'Ja existe AREA = '+@CODIGO_AREA+' na empresa destino!'
				RAISERROR(@MSG, 16, 1) /*RETORNA ERRO PARA O FRONTEND*/
				RETURN -1
			END
			ELSE
			BEGIN
				INSERT INTO [dbo].[CG_AREA]
							([ID_AREA]
							,[DESC_AREA]
							,[ID_RESPONSAVEL]
							,[USER_INS]
							,[DATA_INS]
							,[USER_UPD]
							,[DATA_UPD]
							,[ID_EMPRESA])
				SELECT 
					[ID_AREA]
					,[DESC_AREA]
					,@ID_RESP_AREA AS ID_RESPONSAVEL
					,[USER_INS]
					,[DATA_INS]
					,[USER_UPD]
					,[DATA_UPD]
					,@ID_EMPRESA_DESTINO AS ID_EMPRESA
				FROM CG_AREA WHERE ID_AREA=@CODIGO_AREA AND ID_EMPRESA = @ID_EMPRESA_ORIGEM
			END
	END
			
	END


END