USE [dbCG]
GO
/****** Object:  StoredProcedure [dbo].[spAprova_PedidoVenda_Itens]    Script Date: 10/11/2019 18:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAprova_TransferenciaEmpresa_Itens]
(
@ID_ROMANEIO INT,
@ID_ITEM INT,
@STATUS_ITEM INT,
@TIPOITEM INT 
)
AS

IF @TIPOITEM = 1 /* SIMID (CHIP) */
BEGIN
	/* APROVA ITEM */
	IF @STATUS_ITEM = 2 
	BEGIN
		UPDATE Cg_Log_entrada_chip_item SET
			MOVIMENTO_CONFERIDO=1,
			REPROVADO=0
		WHERE ID_ROMANEIO = @ID_ROMANEIO
				AND ID_CHIP = @ID_ITEM
	END

	/* REPROVA ITEM */
	IF @STATUS_ITEM = 3 
	BEGIN
		UPDATE Cg_Log_entrada_chip_item SET
			MOVIMENTO_CONFERIDO=1,
			REPROVADO=1
		WHERE ID_ROMANEIO = @ID_ROMANEIO
				AND ID_CHIP = @ID_ITEM
	END
END
ELSE
BEGIN
	/* APROVA ITEM */
	IF @STATUS_ITEM = 2 
	BEGIN
		UPDATE Cg_Log_entrada_equipamento_item SET
			MOVIMENTO_CONFERIDO=1,
			REPROVADO=0
		WHERE ID_ROMANEIO = @ID_ROMANEIO
				AND ID_EQUIPAMENTO = @ID_ITEM
	END

	/* REPROVA ITEM */
	IF @STATUS_ITEM = 3 
	BEGIN
		UPDATE Cg_Log_entrada_equipamento_item SET
			MOVIMENTO_CONFERIDO=1,
			REPROVADO=1
		WHERE ID_ROMANEIO = @ID_ROMANEIO
				AND ID_EQUIPAMENTO = @ID_ITEM
	END
END

