USE [dbCG]
GO
/****** Object:  Trigger [dbo].[TGR_UPD_OS_ITEM]    Script Date: 23/09/2018 10:36:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TGR_UPD_OS_ITEM] ON [dbo].[CG_OS_ITEM] 
FOR UPDATE
AS
BEGIN


	   DECLARE @DATA_RETORNO DATETIME, @ID_USUARIO INT, @ID_EQUIPAMENTO INT, @RECEBIDO BIT
	   DECLARE @CONFIG_GARANTIA BIT, 	@QTDE_DIAS_GARANTIA INT,  @DATA_INICIO_GARANTIA DATETIME 
	   DECLARE @DATA_TERMINO_GARANTIA DATETIME, @ID_OS int, @ID_EMPRESA int, @ITEM_ID INT
	   DECLARE @CONSERTO_OK BIT, @LAUDO BIT, @OUTROS BIT

	   SELECT  
			 @DATA_RETORNO = INSERTED.DATA_RETORNO, 
			 @ID_USUARIO = INSERTED.USER_UPD,
			 @ID_EQUIPAMENTO = INSERTED.ID_EQUIPAMENTO,
			 @RECEBIDO = inserted.RECEBIDO,
			 @CONFIG_GARANTIA = inserted.CONFIG_GARANTIA,
			 @QTDE_DIAS_GARANTIA = inserted.QTDE_DIAS_GARANTIA,
			 @DATA_INICIO_GARANTIA = inserted.DATA_INICIO_GARANTIA,
			 @DATA_TERMINO_GARANTIA = inserted.DATA_TERMINO_GARANTIA,
			 @ID_OS = inserted.ID_OS,
			 @ID_EMPRESA = inserted.ID_EMPRESA,
			 @ITEM_ID=inserted.ITEM_ID,
			 @CONSERTO_OK=inserted.CONSERTO_OK,
			 @LAUDO=inserted.LAUDO,
			 @OUTROS=inserted.OUTROS
	   FROM INSERTED

	   IF @CONFIG_GARANTIA = 1
	   BEGIN
		  UPDATE CG_EQUIPAMENTO
		  SET ID_ULTIMA_OS = @ID_OS,
			 DATA_INICIO_GARANTIA = @DATA_INICIO_GARANTIA,
			 DATA_TERMINO_GARANTIA = @DATA_TERMINO_GARANTIA
		  WHERE ID_EQUIPAMENTO = @ID_EQUIPAMENTO
	   END

	   IF @RECEBIDO = 0 /*SE NÃO ESTIVER RECEBIDO NÃO GERAR MOVIMENTO*/
	   BEGIN
		  GOTO FIM
	   END

	   INSERT INTO [dbo].[ROMANEIO_ESTOQUE]
			 ([MODULO]
			 ,[TIPO_PRODUTO]
			 ,[TIPO_OP]
			 ,[DATAMOV]
			 ,[ID_USUARIO]
			 ,[ID_EMPRESA])
		  VALUES
			 ('RETORNO DE OS'
			 ,'E'
			 ,'A'
			 ,GETDATE()
			 ,@ID_USUARIO
			 ,@ID_EMPRESA)

	   DECLARE @CHAVE INT
	   SELECT @CHAVE = IDENT_CURRENT ('ROMANEIO_ESTOQUE')

	   DECLARE @ID_LOCAL_PARA INT = 3 --COM DEFEITO (DEFAULT - VOLTOU BUGADO) 
	   /*
		   DEFINE VARIAVEL @ID_LOCAL_PARA - DESTINO DO ESTOQUE:
			   1 - MATRIZ
			   3 - COM DEFEITO
			   4 - LAUDO
	   */	

	   IF @CONSERTO_OK=1
	   BEGIN
			SET @ID_LOCAL_PARA = 1 -- MATRIZ
	   END

	   IF @LAUDO=1
	   BEGIN
			SET @ID_LOCAL_PARA = 4 -- LAUDO
	   END
	   IF @OUTROS=1
	   BEGIN
			SET @ID_LOCAL_PARA = 3 -- COM DEFEITO
	   END

	   INSERT INTO ROMANEIO_ESTOQUE_ITEM
		  ([ROMANEIO]
		  ,[UNIQUE_KEY]
		  ,[ID_TRANSACAO]
		  ,[TRANSITO]
		  ,[ID_LOCAL_DE]
		  ,[ID_LOCAL_PARA]
		  ,[DATAMOV]
		  ,[ENTRADA_SAIDA]
		  ,[QUANTIDADE]
		  ,[OBSERVACAO]
		  ,[ID_PRODUTO]
		  ,[ID_EMPRESA])
	   VALUES
		  (@CHAVE
		  ,NEWID()
		  ,'RIO'
		  ,0 /*FALSE PARA TRANSITO*/
		  ,2
		  ,@ID_LOCAL_PARA
		  ,GETDATE()
		  ,'E'
		  ,1
		  ,'RETORNO DE ASSISTENCIA TECNICA ' + CONVERT(VARCHAR, @DATA_RETORNO)
		  ,@ID_EQUIPAMENTO
		  ,@ID_EMPRESA)
	   

    FIM:
    RETURN

END

