USE [dbCG]
GO
/****** Object:  Trigger [dbo].[TGR_UPD_OS_ITEM]    Script Date: 11/06/2017 11:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TGR_UPD_OS_ITEM] ON [dbo].[CG_OS_ITEM] 
FOR UPDATE
AS
BEGIN


	   DECLARE @DATA_RETORNO DATETIME, @ID_USUARIO INT, @ID_EQUIPAMENTO INT, @RECEBIDO BIT
	   DECLARE @CONFIG_GARANTIA BIT, 	@QTDE_DIAS_GARANTIA INT,  @DATA_INICIO_GARANTIA DATETIME 
	   DECLARE @DATA_TERMINO_GARANTIA DATETIME, @ID_OS int

	   SELECT  @DATA_RETORNO = INSERTED.DATA_RETORNO, 
			 @ID_USUARIO = INSERTED.USER_UPD,
			 @ID_EQUIPAMENTO = INSERTED.ID_EQUIPAMENTO,
			 @RECEBIDO = inserted.RECEBIDO,
			 @CONFIG_GARANTIA = inserted.CONFIG_GARANTIA,
			 @QTDE_DIAS_GARANTIA = inserted.QTDE_DIAS_GARANTIA,
			 @DATA_INICIO_GARANTIA = inserted.DATA_INICIO_GARANTIA,
			 @DATA_TERMINO_GARANTIA = inserted.DATA_TERMINO_GARANTIA,
			 @ID_OS = inserted.ID_OS
	   FROM INSERTED

	   IF @CONFIG_GARANTIA = 1
	   BEGIN
		  UPDATE CG_EQUIPAMENTO
		  SET ID_ULTIMA_OS = @ID_OS,
			 DATA_INICIO_GARANTIA = @DATA_INICIO_GARANTIA,
			 DATA_TERMINO_GARANTIA = @DATA_TERMINO_GARANTIA
		  WHERE ID_EQUIPAMENTO = @ID_EQUIPAMENTO
	   END

	   IF @RECEBIDO = 0 /*SE NÃO ESTIVER RECEBIDO NÃO GERAR MOVIMENTO*/
	   BEGIN
		  GOTO FIM
	   END

	   INSERT INTO [dbo].[ROMANEIO_ESTOQUE]
			 ([MODULO]
			 ,[TIPO_PRODUTO]
			 ,[TIPO_OP]
			 ,[DATAMOV]
			 ,[ID_USUARIO])
		  VALUES
			 ('RETORNO DE OS'
			 ,'E'
			 ,'A'
			 ,GETDATE()
			 ,@ID_USUARIO)

	   DECLARE @CHAVE INT
	   SELECT @CHAVE = IDENT_CURRENT ('ROMANEIO_ESTOQUE')

	   INSERT INTO ROMANEIO_ESTOQUE_ITEM
		  ([ROMANEIO]
		  ,[UNIQUE_KEY]
		  ,[ID_TRANSACAO]
		  ,[TRANSITO]
		  ,[ID_LOCAL_DE]
		  ,[ID_LOCAL_PARA]
		  ,[DATAMOV]
		  ,[ENTRADA_SAIDA]
		  ,[QUANTIDADE]
		  ,[OBSERVACAO]
		  ,[ID_PRODUTO])
	   VALUES
		  (@CHAVE
		  ,NEWID()
		  ,'RIO'
		  ,0 /*FALSE PARA TRANSITO*/
		  ,2
		  ,1
		  ,GETDATE()
		  ,'E'
		  ,1
		  ,'RETORNO DE ASSISTENCIA TECNICA ' + CONVERT(VARCHAR, @DATA_RETORNO)
		  ,@ID_EQUIPAMENTO)
	   

    FIM:
    RETURN

END

