USE [dbCG]
GO
/****** Object:  StoredProcedure [dbo].[spLista_mov_transito_chip]    Script Date: 02/06/2019 16:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RPT_MOVIMENTO_TRANSITO_GERAL]
(
    @ID_TRANSITO INT = NULL,
    @DATA1 DATETIME = NULL,
    @DATA2 DATETIME = NULL,
	@ID_EMPRESA INT = 1
)
as

DECLARE @RESULT TABLE (
TIPO_ESTOQUE CHAR(1),
ID_TRANSITO INT NULL,
NOME_TRANSITO VARCHAR(60) NULL,
COD_ORIGEM VARCHAR(10) NULL,
NOME_ORIGEM VARCHAR(60) NULL,
SIMID_SERIE VARCHAR(30) NULL,
OPERADORA_MODELO VARCHAR(50) NULL,
ID_PRODUTO INT NULL,
QTDE INT NULL,
DATA_LANCTO DATETIME NULL,
ID_DESTINO INT NULL,
COD_DESTINO VARCHAR(10) NULL,
NOME_DESTINO VARCHAR(60) NULL,
DATA_MOVTO DATETIME NULL,
ID_LANCTO INT NULL,
ID_ORIGEM INT NULL,
DESCRICAO VARCHAR(60) NULL,
ID_EMPRESA INT NULL,
NOME_EMPRESA VARCHAR(50) NULL)

INSERT INTO @RESULT
SELECT  
	'C' AS TIPO_ESTOQUE,
    ID_TRANSITO 
    ,NOME_TRANSITO
    ,CODIGO_ORIGEM as COD_ORIGEM
    ,NOME_ORIGEM 
    ,SIMID AS SIMID_SERIE
    ,DESC_OPERADORA AS OPERADORA_MODELO
    ,ID_CHIP AS ID_PRODUTO
    ,QUANTIDADE AS QTDE
    ,DATA_LANCTO 
    ,ID_DESTINO 
    ,CODIGO_DESTINO AS COD_DESTINO
    ,NOME_DESTINO 
    ,DATA_MOV_DESTINO AS DATA_MOVTO
    ,ID_LANCTO 
    ,ID_ORIGEM
	,'CHIP '+ DESC_OPERADORA AS DESCRICAO
	,VW_CG_MOV_TRANSITO_CHIP.ID_EMPRESA
	,E.NOME_EMPRESA
FROM VW_CG_MOV_TRANSITO_CHIP 
INNER JOIN CG_EMPRESA E ON E.ID_EMPRESA = VW_CG_MOV_TRANSITO_CHIP.ID_EMPRESA
WHERE 
    CONVERT(VARCHAR,DATA_LANCTO,112) BETWEEN CONVERT(VARCHAR,ISNULL(@DATA1,GETDATE()),112) AND CONVERT(VARCHAR,ISNULL(@DATA2,GETDATE()),112)
    AND ID_TRANSITO = ISNULL(@ID_TRANSITO, ID_TRANSITO)
	AND VW_CG_MOV_TRANSITO_CHIP.ID_EMPRESA = @ID_EMPRESA
ORDER BY NOME_TRANSITO ASC, DATA_LANCTO ASC

INSERT INTO @RESULT 
SELECT  
	'E' AS TIPO_ESTOQUE,
    ID_TRANSITO
    , NOME_TRANSITO
    , CODIGO_ORIGEM
    , NOME_ORIGEM
    , SERIE AS SIMID_SERIE
    , MODELO AS OPERADORA_MODELO
    , ID_EQUIPAMENTO AS ID_PRODUTO
    , QUANTIDADE AS QTDE
    , DATA_LANCTO
    , ID_DESTINO
    , CODIGO_DESTINO AS COD_DESTINO
    , NOME_DESTINO
    , DATA_MOV_DESTINO AS DATA_MOVTO
    , ID_LANCTO
    , ID_ORIGEM
    , DESC_EQUIPAMENTO
	, VW_CG_MOV_TRANSITO_EQUIPAMENTO.ID_EMPRESA
	, E.NOME_EMPRESA
FROM VW_CG_MOV_TRANSITO_EQUIPAMENTO
INNER JOIN CG_EMPRESA E ON E.ID_EMPRESA = VW_CG_MOV_TRANSITO_EQUIPAMENTO.ID_EMPRESA
WHERE 
    CONVERT(VARCHAR,DATA_LANCTO,112) BETWEEN CONVERT(VARCHAR,ISNULL(@DATA1,GETDATE()),112) AND CONVERT(VARCHAR,ISNULL(@DATA2,GETDATE()),112)
    AND ID_TRANSITO = ISNULL(@ID_TRANSITO, ID_TRANSITO)
	AND VW_CG_MOV_TRANSITO_EQUIPAMENTO.ID_EMPRESA = @ID_EMPRESA
ORDER BY NOME_TRANSITO ASC, DATA_LANCTO ASC

SELECT * FROM @RESULT
ORDER BY ID_TRANSITO ASC, DATA_LANCTO ASC, TIPO_ESTOQUE ASC

GO