CREATE TABLE CG_TRANSITO
(
ID_TRANSITO INT NOT NULL,
NOME_TRANSITO VARCHAR(40) NOT NULL,
INATIVO BIT NOT NULL CONSTRAINT DF_CG_TRANSITO_INATIVO DEFAULT(0)
)
GO

ALTER TABLE CG_TRANSITO 
ADD CONSTRAINT PK_CG_TRANSITO PRIMARY KEY (ID_TRANSITO)
GO

CREATE TABLE CG_MOVIMENTO_TRANSITO
(
ID_LANCAMENTO INT NOT NULL,
DATA_TRANSITO DATETIME NOT NULL,
ID_TIPO_ESTOQUE INT NOT NULL, --> 1 - CHIP / 2 - POS 
ID_TRANSITO INT NOT NULL,
ID_LOJA_ORIGEM INT NOT NULL
)
GO

ALTER TABLE CG_MOVIMENTO_TRANSITO 
ADD CONSTRAINT PK_CG_MOVIMENTO_TRANSITO PRIMARY KEY (ID_ROMANEIO)
GO

ALTER TABLE CG_MOVIMENTO_TRANSITO
ADD CONSTRAINT FK_CG_MOVIMENTO_TRANSITO_ID_TRANSITO 
FOREIGN KEY (ID_TRANSITO) REFERENCES CG_TRANSITO (ID_TRANSITO)
GO

ALTER TABLE CG_MOVIMENTO_TRANSITO
ADD CONSTRAINT FK_CG_MOVIMENTO_TRANSITO_ID_LOJA_ORIGEM 
FOREIGN KEY (ID_LOJA_ORIGEM) REFERENCES CG_LOJA (ID_LOJA)
GO

CREATE TABLE CG_MOVIMENTO_TRANSITO_ITEM
(
ID_ROMANEIO INT NOT NULL,
UNIQUE_KEYID UNIQUEIDENTIFIER NOT NULL,
ID_CHIP INT NOT NULL, 
QUANTIDADE INT NOT NULL,
ID_LOJA_DEST INT NULL
)
   