USE [dbCG]
GO
/****** Object:  StoredProcedure [dbo].[spGrava_PedidoVenda_Itens]    Script Date: 18/08/2019 08:19:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAprova_PedidoVenda_Itens]
(
@ID_PEDIDO INT,
@ID_EQUIPAMENTO INT,
@STATUS_ITEM INT,
@CANCEL BIT = 0
)
AS

/*
STATUS DO ITEM DO PEDIDO
===========================
1 - EM ANALISE 
2 - APROVADO
3 - REPROVADO
4 - RECEBIDO NO CLIENTE
5 - DEVOLVIDO PELO CLIENTE
*/

/* APROVA ITEM */
IF @STATUS_ITEM = 2 
BEGIN
	UPDATE CG_PEDIDOVENDA_ITENS SET
		STATUS_ITEM=2,
		ULTIMA_ALTERACAO=GETDATE(),
		CANCEL=0
	WHERE ID_PEDIDO = @ID_PEDIDO 
			AND ID_EQUIPAMENTO = @ID_EQUIPAMENTO
END

/* REPROVA ITEM */
IF @STATUS_ITEM = 3 
BEGIN
	DELETE FROM CG_PEDIDOVENDA_ITENS
	WHERE ID_PEDIDO = @ID_PEDIDO 
			AND ID_EQUIPAMENTO = @ID_EQUIPAMENTO

END


GO