USE [dbCG]
GO
/****** Object:  Trigger [dbo].[TGR_LOJA]    Script Date: 24/08/2019 10:48:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[TGR_LOJA] ON [dbo].[CG_LOJA] 
FOR INSERT, UPDATE
AS
BEGIN

DECLARE @ERRO BIT, @MSG VARCHAR(100)
SET @ERRO = 0
SET @MSG = ''

DECLARE @TELEFONE VARCHAR(20), @CELULAR VARCHAR(20), @VALCNT TINYINT, @ID_LOJA INT

SELECT @TELEFONE = i.TELEFONE, @CELULAR = i.CELULAR, @ID_LOJA = i.ID_LOJA
FROM INSERTED i

SET @VALCNT = 0
IF RTRIM(LTRIM(ISNULL(@TELEFONE,''))) <> ''
BEGIN
    SET @VALCNT = @VALCNT + 1
END

IF RTRIM(LTRIM(ISNULL(@CELULAR,''))) <> ''
BEGIN
    SET @VALCNT = @VALCNT + 1
END

IF @VALCNT = 0
BEGIN
    SET @ERRO = 1
    SET @MSG = 'É OBRIGATÓRIO PREENCHIMENTO DO TELEFONE FIXO OU CELULAR DA LOJA!!!' 
END

IF @ID_LOJA < 13
BEGIN
    SET @ERRO = 1
    SET @MSG = 'NÃO É PERMITIDO MODIFICAR ESTA LOJA!!! CÓDIGO RESERVADO DO SISTEMA!!' 
END

IF @ERRO = 1
BEGIN
    RAISERROR(@MSG, 16, 1)
END
ELSE
BEGIN
    RETURN
END

END
