USE [dbCG]
GO
/****** Object:  Trigger [dbo].[TGR_CG_MOV_TRANSITO_EQUIPAMENTO]    Script Date: 25/08/2019 19:25:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TGR_CG_MOV_TRANSITO_EQUIPAMENTO] 
	   ON [dbo].[CG_MOV_TRANSITO_EQUIPAMENTO] FOR INSERT 
AS
BEGIN
    DECLARE 
	   @ID_LANCTO BIGINT,
	   @ID_TRANSITO INT,
	   @ID_ORIGEM INT,
	   @ID_EQUIPAMENTO INT, 
	   @QUANTIDADE INT, 
	   @USER_INS INT, 
	   @DATA_LANCTO DATETIME,
	   @ID_DESTINO INT,
	   @DATA_MOV_DESTINO DATETIME,
	   @TIPO_LOCAL CHAR(1),
	   @TRANSITO BIT,
	   @ID_LOCAL_PARA INT,
	   @DATAMOV DATETIME, 
	   @PEDIDO_VENDA BIT, 
       @ID_CLIENTE INT

    SELECT
	   @ID_LANCTO =i.ID_LANCTO,
	   @ID_TRANSITO = i.ID_TRANSITO,
	   @ID_ORIGEM = i.ID_ORIGEM,
	   @ID_EQUIPAMENTO  = i.ID_EQUIPAMENTO, 
	   @QUANTIDADE = i.QUANTIDADE, 
	   @USER_INS = i.USER_INS, 
	   @DATA_LANCTO = i.DATA_LANCTO,
	   @ID_DESTINO = i.ID_DESTINO,
	   @DATA_MOV_DESTINO = i.DATA_MOV_DESTINO,
	   @PEDIDO_VENDA = i.PEDIDO_VENDA
    FROM inserted i

	IF @PEDIDO_VENDA = 0
	BEGIN 
		SET @TIPO_LOCAL = 'L' /* LOJA -> DEFAULT */
	END
	ELSE /* ORIGEM = PEDIDO DE VENDA*/
	BEGIN
		SET @TIPO_LOCAL = 'C' /* CLIENTE -> PEDIDO DE VENDA FLEGADO */
		 
		/* RECUPERA O ID DO CLIENTE QUE FEZ O PEDIDO PARA CRIAR UMA LINHA DE ESTOQUE PARA ELE */
		SELECT @ID_CLIENTE = CG_PEDIDOVENDA.ID_CLIENTE 
		FROM CG_PEDIDOVENDA_ITENS 
		INNER JOIN CG_PEDIDOVENDA 
					ON CG_PEDIDOVENDA.ID_PEDIDO = CG_PEDIDOVENDA_ITENS.ID_PEDIDO
		INNER JOIN CG_CLIENTE 
					ON CG_CLIENTE.ID_CLIENTE = CG_PEDIDOVENDA.ID_CLIENTE
		WHERE ID_EQUIPAMENTO=@ID_EQUIPAMENTO

		--SET @ID_DESTINO = @ID_CLIENTE

	END

    SET @TRANSITO = 0 /* ESTA EM LOJA L -> ENTAO @TRANSITO = 0 */
    SET @ID_LOCAL_PARA = CASE WHEN @PEDIDO_VENDA = 0 THEN @ID_DESTINO ELSE @ID_CLIENTE END /* ESTA EM LOJA L ENTAO IGUALA @ID_LOCAL_PARA COM @ID_DESTINO */
    SET @DATAMOV = @DATA_MOV_DESTINO

    IF ISNULL(@ID_DESTINO,0) = 0
    BEGIN
	   SET @TIPO_LOCAL = 'T' /* TRANSITO */
	   SET @TRANSITO = 1 /* ESTA EM TRANSITO T -> ENTAO @TRANSITO = 1 */
       SET @ID_LOCAL_PARA = @ID_TRANSITO /* ESTA EM LOJA L ENTAO IGUALA @ID_LOCAL_PARA COM @ID_DESTINO */
	   SET @DATAMOV = @DATA_LANCTO
    END
     
    IF NOT EXISTS(SELECT 1 FROM CG_ESTOQUE_EQUIPAMENTO WHERE ID_EQUIPAMENTO = @ID_EQUIPAMENTO) /*SE REGISTRO NÃO EXISTE - INSERT*/
    BEGIN
		  INSERT INTO CG_ESTOQUE_EQUIPAMENTO (
				id_EQUIPAMENTO,
				estoque,
				transito,
				id_local,
				datamov,
				TIPO_LOCAL,
				PEDIDO_VENDA)
		  VALUES (
				@ID_EQUIPAMENTO,
				@QUANTIDADE,
				@transito,
				@ID_LOCAL_PARA,
				@datamov,
				@TIPO_LOCAL,
				@PEDIDO_VENDA)
    END
    ELSE
    BEGIN
	   UPDATE CG_ESTOQUE_EQUIPAMENTO SET
			 estoque = @QUANTIDADE,
			 transito = @transito,
			 id_local = @ID_LOCAL_PARA,
			 datamov = @datamov,
			 TIPO_LOCAL=@TIPO_LOCAL,
			 PEDIDO_VENDA = @PEDIDO_VENDA
	   WHERE
			 ID_EQUIPAMENTO = @ID_EQUIPAMENTO

    END

	IF @PEDIDO_VENDA = 1
	BEGIN

		 DECLARE @TRANSITO_PEDIDO BIT 
		 SET @TRANSITO_PEDIDO = CASE WHEN @TIPO_LOCAL = 'T' THEN 1 ELSE 0 END

		 DECLARE @DATA_TRANSITO DATETIME = NULL, @BAIXA_TRANSITO DATETIME = NULL
		 IF @TIPO_LOCAL = 'T' 
		 BEGIN
			SET @DATA_TRANSITO = GETDATE()
			SET @BAIXA_TRANSITO = NULL
		 END


	    IF NOT EXISTS(SELECT 1 FROM CG_ESTOQUE_CLIENTE WHERE ID_CLIENTE = @ID_CLIENTE AND ID_EQUIPAMENTO = @ID_EQUIPAMENTO) /*SE REGISTRO NÃO EXISTE - INSERT*/
		BEGIN
			INSERT INTO CG_ESTOQUE_CLIENTE (ID_CLIENTE, ID_EQUIPAMENTO, ESTOQUE, DATAMOV, TRANSITO, DATA_TRANSITO, BAIXA_TRANSITO)
			VALUES (@ID_CLIENTE, @ID_EQUIPAMENTO, 1, GETDATE(), @TRANSITO_PEDIDO, @DATA_TRANSITO, @BAIXA_TRANSITO)
		END

		ELSE

		BEGIN
			UPDATE CG_ESTOQUE_CLIENTE 
			SET 	ESTOQUE = 1, 
					DATAMOV = GETDATE(), 
					TRANSITO = @TRANSITO_PEDIDO,
					DATA_TRANSITO = CASE WHEN @TIPO_LOCAL = 'T' THEN @DATA_TRANSITO ELSE DATA_TRANSITO END,
					BAIXA_TRANSITO = CASE WHEN @TIPO_LOCAL = 'T' THEN @BAIXA_TRANSITO ELSE GETDATE() END
			WHERE ID_CLIENTE = @ID_CLIENTE AND ID_EQUIPAMENTO = @ID_EQUIPAMENTO
		END

	END


END


