USE [dbCG]
GO
/****** Object:  Trigger [dbo].[TGR_DEL_CG_PEDIDOVENDA_ITENS]    Script Date: 02/09/2019 21:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TRIGGER [dbo].[TGR_DEL_CG_PEDIDOVENDA_ITENS] 
   ON  [dbo].[CG_PEDIDOVENDA_ITENS] 
   FOR DELETE
AS 
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @TOT_QTDE_ENTREGAR INT, @TOT_QTDE_ORIGINAL INT
	SELECT @TOT_QTDE_ENTREGAR = A.TOT_QTDE_ENTREGAR, @TOT_QTDE_ORIGINAL = A.TOT_QTDE_ORIGINAL
	FROM CG_PEDIDOVENDA A
	INNER JOIN DELETED D ON D.ID_PEDIDO = A.ID_PEDIDO

	DECLARE @STATUS_PEDIDO VARCHAR(15) = 'EM ABERTO'
	IF EXISTS( SELECT 1 FROM CG_PEDIDOVENDA_ITENS A
				INNER JOIN DELETED D ON D.ID_PEDIDO = A.ID_PEDIDO
				WHERE A.STATUS_ITEM>1 )
	BEGIN
		SELECT @STATUS_PEDIDO = CASE 
								WHEN (@TOT_QTDE_ENTREGAR - 1)=0 THEN 'FINALIZADO' 
								ELSE 'PENDENTE' 
								END
	END

	UPDATE A
	SET A.TOT_QTDE_ENTREGAR = @TOT_QTDE_ENTREGAR - 1,  A.TOT_QTDE_ORIGINAL = @TOT_QTDE_ORIGINAL - 1 ,
	A.STATUS_PEDIDO= @STATUS_PEDIDO
	FROM CG_PEDIDOVENDA A
	INNER JOIN DELETED D ON D.ID_PEDIDO = A.ID_PEDIDO

END
