USE [dbCG]
GO
/****** Object:  Trigger [dbo].[TGR_ESTOQUE_EQUIPAMENTO]    Script Date: 01/09/2019 20:54:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* FIM: =======> TGR_ENTRADA_EQUIPAMENTO_ITEM*/

/* INICIO: =======> TGR_ESTOQUE_EQUIPAMENTO*/
ALTER TRIGGER [dbo].[TGR_ESTOQUE_EQUIPAMENTO] ON [dbo].[CG_ESTOQUE_EQUIPAMENTO] 
FOR INSERT, UPDATE, DELETE
AS
BEGIN

DECLARE @TIPO_OP CHAR(1), @ID_LOCAL INT, @ID_EQUIPAMENTO INT, @TIPO_LOCAL CHAR(1), @ID_EMPRESA INT
IF EXISTS (SELECT * FROM INSERTED) AND EXISTS (SELECT * FROM DELETED)
BEGIN
    SET @TIPO_OP = 'A' /*ALTERAÇÃO*/
    SELECT @ID_LOCAL = inserted.ID_LOCAL, @ID_EQUIPAMENTO = inserted.ID_EQUIPAMENTO, 
		  @TIPO_LOCAL = inserted.TIPO_LOCAL, @ID_EMPRESA = inserted.ID_EMPRESA
    FROM inserted
END

IF EXISTS (SELECT * FROM INSERTED) AND NOT EXISTS (SELECT * FROM DELETED)
BEGIN
    SET @TIPO_OP = 'I' /*INSERT*/
    SELECT @ID_LOCAL = inserted.ID_LOCAL, @ID_EQUIPAMENTO = inserted.ID_EQUIPAMENTO, 
		  @TIPO_LOCAL = inserted.TIPO_LOCAL, @ID_EMPRESA = inserted.ID_EMPRESA
    FROM inserted
END

IF NOT EXISTS (SELECT * FROM INSERTED) AND EXISTS (SELECT * FROM DELETED)
BEGIN
    SET @TIPO_OP = 'D' /*DELETE*/
    SELECT @ID_LOCAL = deleted.ID_LOCAL, @ID_EQUIPAMENTO = deleted.ID_EQUIPAMENTO, 
		  @TIPO_LOCAL = deleted.TIPO_LOCAL, @ID_EMPRESA = deleted.ID_EMPRESA
    FROM deleted
END

-- ATUALIZA O CAMPO ID_LOCAL_ESTOQUE DO EQUIPAMENTO
/*NO CASO DE TRANSFERENCIA ENTRE EMPRESAS ATUALIZA ID_EMPRESA*/
UPDATE CG_EQUIPAMENTO
SET ID_LOCAL_ESTOQUE = @ID_LOCAL, TIPO_LOCAL = @TIPO_LOCAL, ID_EMPRESA = @ID_EMPRESA
WHERE ID_EQUIPAMENTO = @ID_EQUIPAMENTO

IF @TIPO_LOCAL = 'C'
BEGIN
	DECLARE @ID_PEDIDO INT
	SELECT @ID_PEDIDO = ID_PEDIDO 
	FROM CG_PEDIDOVENDA_ITENS 
	WHERE ID_EQUIPAMENTO = @ID_EQUIPAMENTO AND ISNULL(DATA_BAIXA,'19000101') = '19000101'

	UPDATE CG_PEDIDOVENDA_ITENS
	SET STATUS_ITEM=4, DATA_BAIXA=GETDATE()
	WHERE ID_PEDIDO=@ID_PEDIDO AND ID_EQUIPAMENTO=@ID_EQUIPAMENTO

END

END


