USE [dbCG]
GO
/****** Object:  Trigger [dbo].[TGR_ESTOQUE_CHIP]    Script Date: 10/03/2018 10:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* FIM: =======> TGR_ENTRADA_EQUIPAMENTO_ITEM*/

/* INICIO: =======> TGR_ESTOQUE_CHIP*/
ALTER TRIGGER [dbo].[TGR_ESTOQUE_CHIP] ON [dbo].[CG_ESTOQUE_CHIP] 
FOR INSERT, UPDATE, DELETE
AS
BEGIN

DECLARE @TIPO_OP CHAR(1), @ID_LOCAL INT, @ID_CHIP INT, @TIPO_LOCAL CHAR(1), @ID_EMPRESA INT
IF EXISTS (SELECT * FROM INSERTED) AND EXISTS (SELECT * FROM DELETED)
BEGIN
    SET @TIPO_OP = 'A' /*ALTERAÇÃO*/
    SELECT @ID_LOCAL = inserted.ID_LOCAL, @ID_CHIP = inserted.ID_CHIP, 
		  @TIPO_LOCAL = inserted.TIPO_LOCAL, @ID_EMPRESA = inserted.ID_EMPRESA
    FROM inserted
END

IF EXISTS (SELECT * FROM INSERTED) AND NOT EXISTS (SELECT * FROM DELETED)
BEGIN
    SET @TIPO_OP = 'I' /*INSERT*/
    SELECT @ID_LOCAL = inserted.ID_LOCAL, @ID_CHIP = inserted.ID_CHIP, 
		  @TIPO_LOCAL = inserted.TIPO_LOCAL, @ID_EMPRESA = inserted.ID_EMPRESA
    FROM inserted
END

IF NOT EXISTS (SELECT * FROM INSERTED) AND EXISTS (SELECT * FROM DELETED)
BEGIN
    SET @TIPO_OP = 'D' /*DELETE*/
    SELECT @ID_LOCAL = deleted.ID_LOCAL, @ID_CHIP = deleted.ID_CHIP, 
		  @TIPO_LOCAL = deleted.TIPO_LOCAL, @ID_EMPRESA = deleted.ID_EMPRESA
    FROM deleted
END

-- ATUALIZA O CAMPO ID_LOCAL_ESTOQUE DO CHIP
/*NO CASO DE TRANSFERENCIA ENTRE EMPRESAS ATUALIZA ID_EMPRESA*/
UPDATE CG_CHIP
SET ID_LOCAL_ESTOQUE = @ID_LOCAL, TIPO_LOCAL = @TIPO_LOCAL, ID_EMPRESA = @ID_EMPRESA 
WHERE ID_CHIP = @ID_CHIP

END


