USE [dbCG]
GO
/****** Object:  Trigger [dbo].[TGR_MOVIMENTO_CHIP_ITEM]    Script Date: 05/11/2016 09:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TGR_RECEBIMENTO_MOVIMENTO_CHIP_ITEM] ON [dbo].[CG_MOVIMENTO_CHIP_ITEM] 
FOR UPDATE
AS
BEGIN

DECLARE @TIPO_OP CHAR(1), @ID_ROMANEIO INT, @ID_TRANSACAO CHAR(3)
DECLARE @ID_LOCAL_DE INT, @ID_LOCAL_PARA INT, @ENTRADA_SAIDA CHAR(1)
DECLARE @OBS VARCHAR(200),@ID_CHIP INT, @TRANSITO BIT

SET @TIPO_OP = 'A' /*UPDATE - ALTERAÇÃO*/


SELECT distinct @ID_ROMANEIO = i.ID_ROMANEIO, @ID_CHIP = i.ID_CHIP, @TRANSITO = i.TRANSITO
FROM inserted i

IF @TRANSITO = 0
BEGIN
    SET @ID_TRANSACAO = 'RIC' /*RECEBIMENTO ATUALIZAÇÃO (CHIP)*/
END
ELSE
BEGIN
    SET @ID_TRANSACAO = 'REC'  /*RECEBIMENTO ESTORNO (CHIP)*/
END


DECLARE @ID_LOJA_ORIGEM INT,  
	   @ID_LOJA_DESTINO INT,
	   @ROMANEIO_ESTOQUE INT


SELECT  @ID_LOJA_ORIGEM = a.ID_LOJA_ORIGEM,  
	   @ID_LOJA_DESTINO = a.ID_LOJA_DESTINO,
	   @ROMANEIO_ESTOQUE = a.ROMANEIO_ESTOQUE
FROM CG_MOVIMENTO_CHIP a
where a.ID_ROMANEIO = @ID_ROMANEIO

IF @ID_TRANSACAO = 'RIC'
BEGIN
    SET @ENTRADA_SAIDA = 'E'
    SET @OBS = 'RECEBIMENTO ATUALIZAÇÃO (CHIP)'
END

IF @ID_TRANSACAO = 'REC'
BEGIN
    SET @ENTRADA_SAIDA = 'S'
    SET @OBS = 'RECEBIMENTO ESTORNO (CHIP)'
END

DECLARE @LOCAL1 INT, @LOCAL2 INT

SET @LOCAL1 = @ID_LOJA_ORIGEM 

SET @LOCAL2 = @ID_LOJA_DESTINO


INSERT INTO ROMANEIO_ESTOQUE_ITEM
           ([ROMANEIO]
           ,[UNIQUE_KEY]
           ,[ID_TRANSACAO]
           ,[TRANSITO]
           ,[ID_LOCAL_DE]
           ,[ID_LOCAL_PARA]
           ,[DATAMOV]
           ,[ENTRADA_SAIDA]
           ,[QUANTIDADE]
           ,[OBSERVACAO]
		 ,[ID_PRODUTO])
     VALUES
           (@ROMANEIO_ESTOQUE
           ,NEWID()
           ,@ID_TRANSACAO
           ,@TRANSITO
           ,@LOCAL1
           ,@LOCAL2
           ,GETDATE()
           ,@ENTRADA_SAIDA
           ,1
           ,@OBS
		 ,@ID_CHIP)

END

