USE [dbCG]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TGR_ESTOQUE_EQUIPAMENTO] ON [dbo].[CG_ESTOQUE_EQUIPAMENTO] 
FOR INSERT, UPDATE, DELETE
AS
BEGIN

DECLARE @TIPO_OP CHAR(1), @ID_LOCAL INT, @ID_EQUIPAMENTO INT
IF EXISTS (SELECT * FROM INSERTED) AND EXISTS (SELECT * FROM DELETED)
BEGIN
    SET @TIPO_OP = 'A' /*ALTERAÇÃO*/
    SELECT @ID_LOCAL = inserted.ID_LOCAL, @ID_EQUIPAMENTO = inserted.ID_EQUIPAMENTO
    FROM inserted
END

IF EXISTS (SELECT * FROM INSERTED) AND NOT EXISTS (SELECT * FROM DELETED)
BEGIN
    SET @TIPO_OP = 'I' /*INSERT*/
    SELECT @ID_LOCAL = inserted.ID_LOCAL, @ID_EQUIPAMENTO = inserted.ID_EQUIPAMENTO
    FROM inserted
END

IF NOT EXISTS (SELECT * FROM INSERTED) AND EXISTS (SELECT * FROM DELETED)
BEGIN
    SET @TIPO_OP = 'D' /*DELETE*/
    SELECT @ID_LOCAL = deleted.ID_LOCAL, @ID_EQUIPAMENTO = deleted.ID_EQUIPAMENTO
    FROM deleted
END

-- ATUALIZA O CAMPO ID_LOCAL_ESTOQUE DO EQUIPAMENTO
UPDATE CG_EQUIPAMENTO
SET ID_LOCAL_ESTOQUE = @ID_LOCAL
WHERE ID_EQUIPAMENTO = @ID_EQUIPAMENTO

END

