USE [dbCG]
GO
/****** Object:  View [dbo].[VW_CG_CHIP_DISPONIVEIS_ENTRADA_MATRIZ]    Script Date: 24/02/2018 09:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER VIEW [dbo].[VW_CG_CHIP_DISPONIVEIS_ENTRADA_MATRIZ]
AS
SELECT CG_CHIP.ID_CHIP,
       CG_CHIP.SIMID,
       CG_CHIP.ID_OPERADORA,
       CG_OPERADORA.DESC_OPERADORA,
       CG_CHIP.ID_FORNECEDOR,
       CG_FORNECEDOR.NOME,
       CG_FORNECEDOR.SIGLA,
       CG_FORNECEDOR.UTILIZA_NFTS,
	  CG_CHIP.ID_LOCAL_ESTOQUE,
	  CG_CHIP.CUSTO,
	  CG_CHIP.ID_EMPRESA
FROM 
	CG_CHIP (NOLOCK)
LEFT JOIN 
	CG_OPERADORA (NOLOCK)
		ON CG_CHIP.ID_OPERADORA = CG_OPERADORA.ID_OPERADORA
LEFT JOIN 
	CG_FORNECEDOR (NOLOCK)
		ON CG_CHIP.ID_FORNECEDOR = CG_FORNECEDOR.ID_FORNECEDOR
WHERE 
    CG_CHIP.ID_LOCAL_ESTOQUE = 0 AND 
	(CG_CHIP.ID_CHIP NOT IN (SELECT A.ID_CHIP FROM CG_ENTRADA_CHIP_ITEM A (NOLOCK)))



GO
