USE [dbCG]
GO
/****** Object:  StoredProcedure [dbo].[spDel_Cg_cargo]    Script Date: 24/02/2018 09:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spDel_Cg_cargo]

	@ID_CARGO As int

AS

BEGIN
DELETE FROM CG_CARGO WHERE
	ID_CARGO = @ID_CARGO

END
------------------------------------------------------------



GO
