USE [dbCG]
GO
/****** Object:  StoredProcedure [dbo].[spDel_Cg_follow_up]    Script Date: 24/02/2018 09:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spDel_Cg_follow_up]

	@ID_OS As int,
	@PROTOCOLO As varchar(20)

AS

BEGIN
DELETE FROM CG_FOLLOW_UP WHERE
	ID_OS = @ID_OS AND
	PROTOCOLO = @PROTOCOLO

END
------------------------------------------------------------



GO
