USE [dbCG]
GO
/****** Object:  StoredProcedure [dbo].[spDel_Cg_os]    Script Date: 24/02/2018 09:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spDel_Cg_os]

	@ID_OS As int

AS

BEGIN
DELETE FROM CG_OS WHERE
	ID_OS = @ID_OS

END
------------------------------------------------------------




GO
