USE [dbCG]
GO

/****** Object:  View [dbo].[VW_ROMANEIO_ESTOQUE_ITEM_EQUIPAMENTO]    Script Date: 26/03/2017 15:57:40 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


ALTER VIEW [dbo].[VW_ROMANEIO_ESTOQUE_ITEM_EQUIPAMENTO]
AS
SELECT 

A.ROMANEIO, A.UNIQUE_KEY, A.ID_PRODUTO, B.SERIE, B.MODELO, B.DESC_EQUIPAMENTO,
A.ENTRADA_SAIDA, A.QUANTIDADE, A.TRANSITO, 
A.ID_TRANSACAO, C.DESC_TRANSACAO,  A.ID_LOCAL_DE, L1.NOME NOME_ORIGEM, L1.SIGLA SIGLA_ORIGEM, 
A.ID_LOCAL_PARA, L2.NOME NOME_DESTINO, L2.SIGLA SIGLA_DESTINO, A.DATAMOV,  A.OBSERVACAO

FROM [dbo].[ROMANEIO_ESTOQUE_ITEM] A

LEFT JOIN [dbo].[CG_TRANSACOES_ESTOQUE] C 
    ON C.ID_TRANSACAO = A.ID_TRANSACAO

LEFT JOIN [dbo].[VW_CG_EQUIPAMENTO] B 
    ON B.ID_EQUIPAMENTO = A.ID_PRODUTO

LEFT JOIN (
    SELECT 0 AS ID_LOJA, 'NÃO ALOCADO' AS SIGLA, 'NÃO ALOCADO' AS NOME
    UNION 
    SELECT ID_LOJA, SIGLA, NOME FROM CG_LOJA ) AS L1 
	   ON L1.ID_LOJA = A.ID_LOCAL_DE

LEFT JOIN (
    SELECT 0 AS ID_LOJA, 'NÃO ALOCADO' AS SIGLA, 'NÃO ALOCADO' AS NOME
    UNION 
    SELECT ID_LOJA, SIGLA, NOME FROM CG_LOJA ) AS L2 
	   ON L2.ID_LOJA = A.ID_LOCAL_PARA

WHERE A.ID_TRANSACAO IN ('DEE','DIE','EEE','EIE','MEE','MIE','REE','RIE','EEO','EIO','REO','RIO') /*FILTRA SOMENTE OPERAÇÃO DE EQUIPAMENTO*/

GO

