ALTER PROCEDURE spVer_Permissao
	@ID_MODULO int,
	@ID_USUARIO int
AS
BEGIN
SELECT A.ID_USUARIO
      ,A.ID_MODULO
      ,A.PERMISSAO
      ,A.USER_INS
      ,A.DATA_INS
      ,A.USER_UPD
      ,A.DATA_UPD
	  ,B.DESC_MODULO
	  ,C.APELIDO, C.NOME
  FROM 
		CG_ACESSO A
  LEFT JOIN 
		CG_MODULO B ON B.ID_MODULO = A.ID_MODULO
  LEFT JOIN 
		CG_USUARIO C ON C.ID_USUARIO = A.ID_USUARIO
  WHERE 
		A.ID_MODULO = @ID_MODULO AND A.ID_USUARIO = @ID_USUARIO
END
