USE [dbCG]
GO
/****** Object:  View [dbo].[VW_CG_ENTRADA_EQUIPAMENTO_ITEM]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VW_CG_ENTRADA_EQUIPAMENTO_ITEM] 
AS
SELECT A.ID_ROMANEIO,
       A.UNIQUE_KEYID,
       A.ID_EQUIPAMENTO,
       B.DESC_EQUIPAMENTO,
       B.SERIE,
       B.MODELO,
       A.QTD,
       A.VALOR,
	   A.ID_EMPRESA
FROM 
	CG_ENTRADA_EQUIPAMENTO_ITEM AS A
LEFT JOIN 
	CG_EQUIPAMENTO AS B 
		ON A.ID_EQUIPAMENTO = B.ID_EQUIPAMENTO

GO
/****** Object:  View [dbo].[VW_CG_EQUIPAMENTO_DISPONIVEIS_ENTRADA_MATRIZ]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER VIEW [dbo].[VW_CG_EQUIPAMENTO_DISPONIVEIS_ENTRADA_MATRIZ]
AS

SELECT CG_EQUIPAMENTO.ID_EQUIPAMENTO,
       CG_EQUIPAMENTO.SERIE,
       CG_EQUIPAMENTO.MODELO,
       CG_EQUIPAMENTO.DESC_EQUIPAMENTO,
       CG_EQUIPAMENTO.ID_FORNECEDOR,
       CG_FORNECEDOR.NOME,
       CG_FORNECEDOR.SIGLA,
       CG_FORNECEDOR.UTILIZA_NFTS,
	  CG_EQUIPAMENTO.ID_LOCAL_ESTOQUE,
	  CG_EQUIPAMENTO.VALOR,
	  CG_EQUIPAMENTO.ID_EMPRESA
FROM 
	CG_EQUIPAMENTO (NOLOCK)
LEFT JOIN 
	CG_FORNECEDOR (NOLOCK)
		ON CG_EQUIPAMENTO.ID_FORNECEDOR = CG_FORNECEDOR.ID_FORNECEDOR
WHERE 
    CG_EQUIPAMENTO.ID_LOCAL_ESTOQUE = 0 AND 
	(CG_EQUIPAMENTO.ID_EQUIPAMENTO NOT IN (SELECT A.ID_EQUIPAMENTO FROM VW_CG_ENTRADA_EQUIPAMENTO_ITEM A (NOLOCK)))



GO
/****** Object:  View [dbo].[VW_CG_EQUIPAMENTO]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER VIEW [dbo].[VW_CG_EQUIPAMENTO]
AS
SELECT A.ID_EQUIPAMENTO,
       A.DESC_EQUIPAMENTO,
       A.SERIE,
       A.MODELO,
       A.ID_TIPO_EQUIPAMENTO,
       B.DESC_TIPO_EQUIPAMENTO,
       A.ID_FORNECEDOR,
       C.SIGLA,
       C.UTILIZA_NFTS,
       C.NOME,
       A.PROTOCOLO,
       A.VALOR,
       A.OBS,
	  A.ID_CONTROLE,
	  A.NF_ENTRADA,
	  A.DATA_NF, 
	  A.PRAZO_GARANTIA,
	  A.ID_ULTIMA_OS,
	  A.DATA_INICIO_GARANTIA,
	  A.DATA_TERMINO_GARANTIA,
	  A.ID_LOCAL_ESTOQUE,
	  A.TIPO_LOCAL,
	  A.ID_EMPRESA
FROM 
	CG_EQUIPAMENTO AS A (NOLOCK)
LEFT JOIN 
	CG_TIPO_EQUIPAMENTO AS B (NOLOCK)
		ON A.ID_TIPO_EQUIPAMENTO = B.ID_TIPO_EQUIPAMENTO
LEFT JOIN 
	CG_FORNECEDOR AS C (NOLOCK)
		ON A.ID_FORNECEDOR = C.ID_FORNECEDOR



GO
/****** Object:  View [dbo].[VW_ROMANEIO_ESTOQUE_ITEM_EQUIPAMENTO]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER VIEW [dbo].[VW_ROMANEIO_ESTOQUE_ITEM_EQUIPAMENTO]
AS
SELECT 

A.ROMANEIO, A.UNIQUE_KEY, A.ID_PRODUTO, B.SERIE, B.MODELO, B.DESC_EQUIPAMENTO,
A.ENTRADA_SAIDA, A.QUANTIDADE, A.TRANSITO, 
A.ID_TRANSACAO, C.DESC_TRANSACAO,  A.ID_LOCAL_DE, L1.NOME NOME_ORIGEM, L1.SIGLA SIGLA_ORIGEM, 
A.ID_LOCAL_PARA, L2.NOME NOME_DESTINO, L2.SIGLA SIGLA_DESTINO, A.DATAMOV,  A.OBSERVACAO

FROM [dbo].[ROMANEIO_ESTOQUE_ITEM] A

LEFT JOIN [dbo].[CG_TRANSACOES_ESTOQUE] C 
    ON C.ID_TRANSACAO = A.ID_TRANSACAO

LEFT JOIN [dbo].[VW_CG_EQUIPAMENTO] B 
    ON B.ID_EQUIPAMENTO = A.ID_PRODUTO

LEFT JOIN (
    SELECT 0 AS ID_LOJA, 'NÃO ALOCADO' AS SIGLA, 'NÃO ALOCADO' AS NOME
    UNION 
    SELECT ID_LOJA, SIGLA, NOME FROM CG_LOJA ) AS L1 
	   ON L1.ID_LOJA = A.ID_LOCAL_DE

LEFT JOIN (
    SELECT 0 AS ID_LOJA, 'NÃO ALOCADO' AS SIGLA, 'NÃO ALOCADO' AS NOME
    UNION 
    SELECT ID_LOJA, SIGLA, NOME FROM CG_LOJA ) AS L2 
	   ON L2.ID_LOJA = A.ID_LOCAL_PARA

WHERE A.ID_TRANSACAO IN ('DEE','DIE','EEE','EIE','MEE','MIE','REE','RIE','EEO','EIO','REO','RIO') /*FILTRA SOMENTE OPERAÇÃO DE EQUIPAMENTO*/


GO
/****** Object:  View [dbo].[VW_CG_CHIP]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[VW_CG_CHIP]
AS
SELECT CG_CHIP.ID_CHIP,
       CG_CHIP.SIMID,
       CG_CHIP.ID_OPERADORA,
       CG_OPERADORA.DESC_OPERADORA,
       CG_CHIP.ID_FORNECEDOR,
	  CG_CHIP.CUSTO,
       CG_FORNECEDOR.NOME,
       CG_FORNECEDOR.SIGLA,
       CG_FORNECEDOR.UTILIZA_NFTS,
	  CG_CHIP.ID_LOCAL_ESTOQUE,
	  CG_CHIP.TIPO_LOCAL,
	  CG_CHIP.ID_EMPRESA
FROM 
	CG_CHIP (NOLOCK)
LEFT JOIN 
	CG_OPERADORA (NOLOCK)
		ON CG_CHIP.ID_OPERADORA = CG_OPERADORA.ID_OPERADORA
LEFT JOIN 
	CG_FORNECEDOR (NOLOCK)
		ON CG_CHIP.ID_FORNECEDOR = CG_FORNECEDOR.ID_FORNECEDOR



GO
/****** Object:  View [dbo].[VW_ROMANEIO_ESTOQUE_ITEM_CHIP]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VW_ROMANEIO_ESTOQUE_ITEM_CHIP]
AS
SELECT 

A.ROMANEIO, A.UNIQUE_KEY, A.ID_PRODUTO, B.SIMID, B.ID_OPERADORA, B.DESC_OPERADORA,
A.ENTRADA_SAIDA, A.QUANTIDADE, A.TRANSITO, 
A.ID_TRANSACAO, C.DESC_TRANSACAO,  A.ID_LOCAL_DE, L1.NOME NOME_ORIGEM, L1.SIGLA SIGLA_ORIGEM, 
A.ID_LOCAL_PARA, L2.NOME NOME_DESTINO, L2.SIGLA SIGLA_DESTINO, A.DATAMOV,  A.OBSERVACAO

FROM [dbo].[ROMANEIO_ESTOQUE_ITEM] A

LEFT JOIN [dbo].[CG_TRANSACOES_ESTOQUE] C 
    ON C.ID_TRANSACAO = A.ID_TRANSACAO

LEFT JOIN [dbo].[VW_CG_CHIP] B 
    ON B.ID_CHIP = A.ID_PRODUTO

LEFT JOIN (
    SELECT 0 AS ID_LOJA, 'NÃO ALOCADO' AS SIGLA, 'NÃO ALOCADO' AS NOME
    UNION 
    SELECT ID_LOJA, SIGLA, NOME FROM CG_LOJA ) AS L1 
	   ON L1.ID_LOJA = A.ID_LOCAL_DE

LEFT JOIN (
    SELECT 0 AS ID_LOJA, 'NÃO ALOCADO' AS SIGLA, 'NÃO ALOCADO' AS NOME
    UNION 
    SELECT ID_LOJA, SIGLA, NOME FROM CG_LOJA ) AS L2 
	   ON L2.ID_LOJA = A.ID_LOCAL_PARA

WHERE A.ID_TRANSACAO IN ('DEC','DIC','EEC','EIC','MEC','MIC','REC','RIC') /*FILTRA SOMENTE OPERAÇÃO DE CHIP*/

GO
/****** Object:  View [dbo].[VW_BUSCA_CG_LOJA]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VW_BUSCA_CG_LOJA]
AS

    SELECT 
	   ID_LOJA, 
	   CODIGO + ' - ' + NOME AS NOME,
	   ID_EMPRESA 
    FROM 
	   CG_LOJA

GO
/****** Object:  View [dbo].[VW_CBO_CODIGO_LOJAS]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[VW_CBO_CODIGO_LOJAS]
AS
select '<TODOS>' AS CODIGO
UNION
select CODIGO from CG_LOJA


GO
/****** Object:  View [dbo].[VW_CBO_LOJAS]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VW_CBO_LOJAS]
AS
select '<TODOS>' AS NOME
UNION
select NOME from CG_LOJA

GO
/****** Object:  View [dbo].[VW_CG_ACESSO]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VW_CG_ACESSO]
AS

	SELECT 
		A.ID_USUARIO, 
		B.APELIDO,
		B.NOME,
		A.ID_MODULO, 
		C.DESC_MODULO,
		A.PERMISSAO,
		A.ID_EMPRESA
	FROM 
		CG_ACESSO A (NOLOCK)
	LEFT JOIN 
		CG_USUARIO B (NOLOCK)
			ON B.ID_USUARIO = A.ID_USUARIO
	LEFT JOIN 
		CG_MODULO C (NOLOCK)
			ON C.ID_MODULO = A.ID_MODULO



			

GO
/****** Object:  View [dbo].[VW_CG_AREA]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[VW_CG_AREA]
AS
SELECT 
a.ID_AREA, a.DESC_AREA, a.ID_RESPONSAVEL, B.NOME, a.ID_EMPRESA
FROM CG_AREA a
INNER JOIN CG_RESPONSAVEL b ON B.ID_RESPONSAVEL = A.ID_RESPONSAVEL;


GO
/****** Object:  View [dbo].[VW_CG_CHIP_DISPONIVEIS_DEVOLUCAO_MATRIZ]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER VIEW [dbo].[VW_CG_CHIP_DISPONIVEIS_DEVOLUCAO_MATRIZ]
AS
SELECT CG_CHIP.ID_CHIP,
       CG_CHIP.SIMID,
       CG_CHIP.ID_OPERADORA,
       CG_OPERADORA.DESC_OPERADORA,
       CG_CHIP.ID_FORNECEDOR,
       CG_FORNECEDOR.NOME,
       CG_FORNECEDOR.SIGLA,
       CG_FORNECEDOR.UTILIZA_NFTS,
	  CG_CHIP.ID_LOCAL_ESTOQUE,
	  CG_CHIP.CUSTO,
	  CG_CHIP.ID_EMPRESA
FROM 
	CG_CHIP (NOLOCK)
LEFT JOIN 
	CG_OPERADORA (NOLOCK)
		ON CG_CHIP.ID_OPERADORA = CG_OPERADORA.ID_OPERADORA
LEFT JOIN 
	CG_FORNECEDOR (NOLOCK)
		ON CG_CHIP.ID_FORNECEDOR = CG_FORNECEDOR.ID_FORNECEDOR
WHERE 
    CG_CHIP.ID_LOCAL_ESTOQUE = 1 AND 
	(CG_CHIP.ID_CHIP NOT IN (SELECT A.ID_CHIP FROM CG_DEVOLUCAO_CHIP_ITEM A (NOLOCK)))



GO
/****** Object:  View [dbo].[VW_CG_CHIP_DISPONIVEIS_ENTRADA_MATRIZ]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER VIEW [dbo].[VW_CG_CHIP_DISPONIVEIS_ENTRADA_MATRIZ]
AS
SELECT CG_CHIP.ID_CHIP,
       CG_CHIP.SIMID,
       CG_CHIP.ID_OPERADORA,
       CG_OPERADORA.DESC_OPERADORA,
       CG_CHIP.ID_FORNECEDOR,
       CG_FORNECEDOR.NOME,
       CG_FORNECEDOR.SIGLA,
       CG_FORNECEDOR.UTILIZA_NFTS,
	  CG_CHIP.ID_LOCAL_ESTOQUE,
	  CG_CHIP.CUSTO,
	  CG_CHIP.ID_EMPRESA
FROM 
	CG_CHIP (NOLOCK)
LEFT JOIN 
	CG_OPERADORA (NOLOCK)
		ON CG_CHIP.ID_OPERADORA = CG_OPERADORA.ID_OPERADORA
LEFT JOIN 
	CG_FORNECEDOR (NOLOCK)
		ON CG_CHIP.ID_FORNECEDOR = CG_FORNECEDOR.ID_FORNECEDOR
WHERE 
    CG_CHIP.ID_LOCAL_ESTOQUE = 0 AND 
	(CG_CHIP.ID_CHIP NOT IN (SELECT A.ID_CHIP FROM CG_ENTRADA_CHIP_ITEM A (NOLOCK)))


GO
/****** Object:  View [dbo].[VW_CG_DEVOLUCAO_CHIP_ITEM]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VW_CG_DEVOLUCAO_CHIP_ITEM]
AS
SELECT A.ID_ROMANEIO,
       A.UNIQUE_KEYID,
       A.ID_CHIP,
       A.SIMID,
       B.ID_OPERADORA,
       D.DESC_OPERADORA,
       B.ID_FORNECEDOR,
       E.SIGLA,
       E.UTILIZA_NFTS,
       E.NOME,
       A.QTD,
       A.VALOR,
       A.ID_MOTIVO,
       C.DESC_MOTIVO
FROM 
	CG_DEVOLUCAO_CHIP_ITEM AS A (NOLOCK)
LEFT JOIN 
	CG_CHIP AS B (NOLOCK)
		ON A.ID_CHIP = B.ID_CHIP
LEFT JOIN 
	CG_MOTIVO AS C (NOLOCK)
		ON A.ID_MOTIVO = C.ID_MOTIVO
LEFT JOIN 
	CG_OPERADORA AS D (NOLOCK)
		ON B.ID_OPERADORA = D.ID_OPERADORA
LEFT JOIN 
	CG_FORNECEDOR AS E (NOLOCK)
		ON B.ID_FORNECEDOR = E.ID_FORNECEDOR


GO
/****** Object:  View [dbo].[VW_CG_DEVOLUCAO_EQUIPAMENTO_ITEM]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VW_CG_DEVOLUCAO_EQUIPAMENTO_ITEM]
AS
SELECT A.ID_ROMANEIO,
       A.UNIQUE_KEYID,
       A.ID_EQUIPAMENTO,
       B.DESC_EQUIPAMENTO,
       B.SERIE,
       B.MODELO,
       B.ID_FORNECEDOR,
       D.DESC_TIPO_EQUIPAMENTO,
       A.QTD,
       A.VALOR,
       A.ID_MOTIVO,
       C.DESC_MOTIVO,
       E.SIGLA,
       E.UTILIZA_NFTS,
       E.NOME
FROM CG_DEVOLUCAO_EQUIPAMENTO_ITEM AS A (NOLOCK)
LEFT JOIN 
	CG_EQUIPAMENTO AS B (NOLOCK)
		ON A.ID_EQUIPAMENTO = B.ID_EQUIPAMENTO
LEFT JOIN 
	CG_MOTIVO AS C (NOLOCK)
		ON A.ID_MOTIVO = C.ID_MOTIVO
LEFT JOIN 
	CG_TIPO_EQUIPAMENTO AS D (NOLOCK)
		ON B.ID_TIPO_EQUIPAMENTO = D.ID_TIPO_EQUIPAMENTO
LEFT JOIN 
	CG_FORNECEDOR AS E (NOLOCK)
		ON B.ID_FORNECEDOR = E.ID_FORNECEDOR

GO
/****** Object:  View [dbo].[VW_CG_ENTRADA_CHIP]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VW_CG_ENTRADA_CHIP]
AS
SELECT A.ID_ROMANEIO,
       A.DATA_MOVTO,
       A.ID_LOJA,
       B.SIGLA,
       B.NOME,
       B.ID_TIPO_LOCAL,
       C.DESC_ALOCACAO,
       B.ID_RESPONSAVEL,
       D.NOME AS RESPONSAVEL,
       D.APELIDO,
	   A.ID_EMPRESA
FROM 
	CG_ENTRADA_CHIP AS A (NOLOCK)
LEFT JOIN 
	CG_LOJA AS B (NOLOCK)
		ON A.ID_LOJA = B.ID_LOJA
LEFT JOIN 
	CG_ALOCACAO AS C (NOLOCK)
		ON B.ID_TIPO_LOCAL = C.ID_ALOCACAO
LEFT JOIN 
	CG_RESPONSAVEL AS D (NOLOCK)
		ON B.ID_RESPONSAVEL = D.ID_RESPONSAVEL

GO
/****** Object:  View [dbo].[VW_CG_ENTRADA_CHIP_ITEM]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VW_CG_ENTRADA_CHIP_ITEM] 
AS
SELECT A.ID_ROMANEIO,
       A.UNIQUE_KEYID,
       A.ID_CHIP,
       B.SIMID,
	   B.ID_OPERADORA,
	   C.DESC_OPERADORA,
       A.QTD,
       A.VALOR,
	   A.ID_EMPRESA
FROM 
	CG_ENTRADA_CHIP_ITEM AS A (NOLOCK)
LEFT JOIN 
	CG_CHIP AS B (NOLOCK)
		ON A.ID_CHIP = B.ID_CHIP
LEFT JOIN 
	CG_OPERADORA AS C (NOLOCK)
		ON B.ID_OPERADORA = C.ID_OPERADORA

GO
/****** Object:  View [dbo].[VW_CG_ENTRADA_EQUIPAMENTO]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[VW_CG_ENTRADA_EQUIPAMENTO]
AS
SELECT A.ID_ROMANEIO,
       A.DATA_MOVTO,
       A.ID_LOJA,
       B.SIGLA,
       B.NOME,
       B.ID_TIPO_LOCAL,
       C.DESC_ALOCACAO,
       B.ID_RESPONSAVEL,
       D.NOME AS RESPONSAVEL,
       D.APELIDO,
	   A.ID_EMPRESA
FROM 
	CG_ENTRADA_EQUIPAMENTO AS A (NOLOCK)
LEFT JOIN 
	CG_LOJA AS B (NOLOCK)
		ON A.ID_LOJA = B.ID_LOJA
LEFT JOIN 
	CG_ALOCACAO AS C (NOLOCK)
		ON B.ID_TIPO_LOCAL = C.ID_ALOCACAO
LEFT JOIN 
	CG_RESPONSAVEL AS D (NOLOCK)
		ON B.ID_RESPONSAVEL = D.ID_RESPONSAVEL


GO
/****** Object:  View [dbo].[VW_CG_EQUIPAMENTO_VS_CHIP]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VW_CG_EQUIPAMENTO_VS_CHIP]
AS
SELECT A.ID_EQUIPAMENTO,
       B.DESC_EQUIPAMENTO,
       B.SERIE,
       B.MODELO,
       A.ID_CHIP,
       C.SIMID,
       C.ID_OPERADORA,
       D.DESC_OPERADORA,
       E.APELIDO,
       E.NOME,
	   A.ID_EMPRESA
FROM dbo.CG_EQUIPAMENTO_VS_CHIP (NOLOCK) AS A
LEFT JOIN dbo.CG_EQUIPAMENTO (NOLOCK)  AS B ON B.ID_EQUIPAMENTO = A.ID_EQUIPAMENTO
LEFT JOIN dbo.CG_CHIP (NOLOCK)  AS C ON C.ID_CHIP = A.ID_CHIP
LEFT JOIN dbo.CG_OPERADORA (NOLOCK)  AS D ON D.ID_OPERADORA = C.ID_OPERADORA
LEFT JOIN dbo.CG_USUARIO (NOLOCK)  AS E ON E.ID_USUARIO = A.USER_UPD


GO
/****** Object:  View [dbo].[VW_CG_EQUIPAMENTO_VS_CHIP_AGRUPADO]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[VW_CG_EQUIPAMENTO_VS_CHIP_AGRUPADO]
AS
SELECT A.ID_EQUIPAMENTO,
       B.DESC_EQUIPAMENTO,
       B.SERIE,
       B.MODELO,
	   A.ID_EMPRESA,
 	  COUNT(*) AS QTD_CHIP
FROM dbo.CG_EQUIPAMENTO_VS_CHIP (NOLOCK) AS A
LEFT JOIN dbo.CG_EQUIPAMENTO (NOLOCK)  AS B ON B.ID_EQUIPAMENTO = A.ID_EQUIPAMENTO

GROUP BY 
    A.ID_EQUIPAMENTO,
    B.DESC_EQUIPAMENTO,
    B.SERIE,
    B.MODELO,
	A.ID_EMPRESA



GO
/****** Object:  View [dbo].[VW_CG_EQUIPAMENTOS_DISPONIVEIS_DEVOLUCAO_MATRIZ]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER VIEW [dbo].[VW_CG_EQUIPAMENTOS_DISPONIVEIS_DEVOLUCAO_MATRIZ]
AS
SELECT CG_EQUIPAMENTO.ID_EQUIPAMENTO,
       CG_EQUIPAMENTO.SERIE,
       CG_EQUIPAMENTO.MODELO,
       CG_EQUIPAMENTO.DESC_EQUIPAMENTO,
       CG_EQUIPAMENTO.ID_FORNECEDOR,
       CG_FORNECEDOR.NOME,
       CG_FORNECEDOR.SIGLA,
       CG_FORNECEDOR.UTILIZA_NFTS,
	  CG_EQUIPAMENTO.ID_LOCAL_ESTOQUE,
	  CG_EQUIPAMENTO.VALOR
	  
FROM 
	CG_EQUIPAMENTO (NOLOCK)
LEFT JOIN 
	CG_FORNECEDOR (NOLOCK)
		ON CG_EQUIPAMENTO.ID_FORNECEDOR = CG_FORNECEDOR.ID_FORNECEDOR
WHERE 
    CG_EQUIPAMENTO.ID_LOCAL_ESTOQUE = 1 AND 
	(CG_EQUIPAMENTO.ID_EQUIPAMENTO NOT IN (SELECT A.ID_EQUIPAMENTO FROM CG_DEVOLUCAO_EQUIPAMENTO_ITEM A (NOLOCK)))



GO
/****** Object:  View [dbo].[VW_CG_ESTOQUE_CHIP]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER VIEW [dbo].[VW_CG_ESTOQUE_CHIP]
AS
SELECT
    A.ID_CHIP, 
    B.SIMID, 
    B.ID_OPERADORA, 
    C.DESC_OPERADORA, 
    A.ESTOQUE, 
    A.TRANSITO, 
    B.CUSTO, 
    A.ID_LOCAL, 
    L.NOME, 
    L.SIGLA,
    A.DATAMOV, 
    B.ID_LOCAL_ESTOQUE,
    L.CODIGO,
    L.LOJA_FISICA,
    L.ID_AREA,
    A.TIPO_LOCAL,
    A.ID_EMPRESA
FROM
    dbo.CG_ESTOQUE_CHIP AS A 
	   INNER JOIN
		  dbo.CG_CHIP AS B 
			 ON A.ID_CHIP = B.ID_CHIP 
	   INNER JOIN
		  dbo.CG_OPERADORA AS C 
			 ON B.ID_OPERADORA = C.ID_OPERADORA
	   LEFT JOIN (
			 SELECT 'T' AS TIPO_LOCAL, ID_TRANSITO AS ID_LOJA, 
			 NOME_TRANSITO AS SIGLA, NOME_TRANSITO AS NOME, 
			 CONVERT(VARCHAR,ID_TRANSITO) AS CODIGO, 
			 CAST(0 AS BIT ) AS LOJA_FISICA,
			 SPACE(8) AS ID_AREA FROM CG_TRANSITO
			 UNION 
			 --SELECT 'L' AS TIPO_LOCAL, 0 AS ID_LOJA, 'NÃO ALOCADO' AS SIGLA, 'NÃO ALOCADO' AS NOME, SPACE(10) AS CODIGO
			 --UNION 
			 SELECT 'L' AS TIPO_LOCAL, ID_LOJA, SIGLA, NOME, 
			 CODIGO, LOJA_FISICA, ID_AREA FROM CG_LOJA ) AS L 
				ON L.ID_LOJA = A.ID_LOCAL AND L.TIPO_LOCAL = A.TIPO_LOCAL




GO
/****** Object:  View [dbo].[VW_CG_ESTOQUE_EQUIPAMENTO]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





ALTER VIEW [dbo].[VW_CG_ESTOQUE_EQUIPAMENTO]
AS
SELECT
    A.ID_EQUIPAMENTO, 
    B.SERIE, 
    B.MODELO, 
    B.DESC_EQUIPAMENTO, 
    A.ESTOQUE, 
    A.TRANSITO, 
    B.VALOR, 
    A.ID_LOCAL, 
    L.NOME, 
    L.SIGLA,
    A.DATAMOV, 
    B.ID_LOCAL_ESTOQUE,
    L.CODIGO,
    L.LOJA_FISICA,
    L.ID_AREA,
    A.TIPO_LOCAL,
	A.ID_EMPRESA
    
FROM
    dbo.CG_ESTOQUE_EQUIPAMENTO AS A 
	   INNER JOIN
		  dbo.CG_EQUIPAMENTO AS B 
			 ON A.ID_EQUIPAMENTO = B.ID_EQUIPAMENTO
	   LEFT JOIN (
			 SELECT 'T' AS TIPO_LOCAL, ID_TRANSITO AS ID_LOJA, 
			 NOME_TRANSITO AS SIGLA, NOME_TRANSITO AS NOME, 
			 CONVERT(VARCHAR,ID_TRANSITO) AS CODIGO, 
			 CAST(0 AS BIT ) AS LOJA_FISICA,
			 SPACE(8) AS ID_AREA FROM CG_TRANSITO
			 UNION 
			 --SELECT 'L' AS TIPO_LOCAL, 0 AS ID_LOJA, 'NÃO ALOCADO' AS SIGLA, 'NÃO ALOCADO' AS NOME, SPACE(10) AS CODIGO
			 --UNION 
			 SELECT 'L' AS TIPO_LOCAL, ID_LOJA, SIGLA, NOME, 
			 CODIGO, LOJA_FISICA, ID_AREA FROM CG_LOJA ) AS L 
				ON L.ID_LOJA = A.ID_LOCAL AND L.TIPO_LOCAL = A.TIPO_LOCAL





GO
/****** Object:  View [dbo].[VW_CG_FORNECEDOR]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[VW_CG_FORNECEDOR]
AS
SELECT A.ID_FORNECEDOR,
       A.SIGLA,
       A.UTILIZA_NFTS,
       A.NOME,
       A.CEP,
       A.ENDERECO,
       A.COMPLEMENTO,
       A.CIDADE,
       A.BAIRRO,
       A.UF,
       A.EMAIL,
       A.TELEFONE,
       A.CONTATO,
       A.WHATSAPP,
       A.ID_TIPO_SERVICO,
       A.OBS,
       B.DESC_TIPO_SERVICO,
	  A.GARANTIA_AQUISICAO,
	  A.GARANTIA_ASSISTENCIA,
	  A.ID_EMPRESA
FROM 
	CG_FORNECEDOR AS A (NOLOCK)
LEFT JOIN 
	CG_TIPO_SERVICO AS B (NOLOCK)
		ON A.ID_TIPO_SERVICO = B.ID_TIPO_SERVICO

GO
/****** Object:  View [dbo].[VW_CG_LOJA]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER VIEW [dbo].[VW_CG_LOJA]
AS
SELECT A.ID_LOJA,
       A.SIGLA,
       A.NOME,
       A.ENDERECO,
       A.COMPLEMENTO,
       A.CEP,
       A.CIDADE,
       A.BAIRRO,
       A.UF,
       A.ID_TIPO_LOCAL,
       B.DESC_ALOCACAO,
       A.ID_RESPONSAVEL,
       C.NOME AS RESPONSAVEL,
       C.APELIDO,
	  A.CODIGO, 
	  A.TELEFONE,
	  A.CELULAR, 
	  A.ID_AREA,
	  D.DESC_AREA,
	  A.LOJA_FISICA,
	  A.PARCERIA,
	  D.ID_RESPONSAVEL AS ID_RESPONSAVEL_AREA,
	  E.NOME AS RESPONSAVEL_AREA,
	  A.ID_EMPRESA
FROM 
	CG_LOJA AS A (NOLOCK)
LEFT JOIN 
	dbo.CG_ALOCACAO AS B (NOLOCK)
		ON A.ID_TIPO_LOCAL = B.ID_ALOCACAO
LEFT JOIN 
	dbo.CG_RESPONSAVEL AS C (NOLOCK)
		ON A.ID_RESPONSAVEL = C.ID_RESPONSAVEL
LEFT JOIN 
    dbo.CG_AREA AS D (NOLOCK)
		ON D.ID_AREA = A.ID_AREA
LEFT JOIN 
	dbo.CG_RESPONSAVEL AS E (NOLOCK)
		ON D.ID_RESPONSAVEL = E.ID_RESPONSAVEL



GO
/****** Object:  View [dbo].[VW_CG_MOV_TRANSITO_CHIP]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[VW_CG_MOV_TRANSITO_CHIP]
AS
select  M.ID_LANCTO, 
	   M.ID_TRANSITO, 
	   T.NOME_TRANSITO,
	   M.ID_ORIGEM, 
	   O.CODIGO AS CODIGO_ORIGEM,
	   O.NOME AS NOME_ORIGEM,
	   M.ID_CHIP, 
	   C.SIMID,
	   OP.DESC_OPERADORA,
	   M.QUANTIDADE, 
	   M.USER_INS, 
	   U.NOME AS NOME_USUARIO,
	   M.DATA_LANCTO, 
	   M.ID_DESTINO, 
	   L.CODIGO CODIGO_DESTINO,
	   L.NOME NOME_DESTINO,
	   M.DATA_MOV_DESTINO,
	   M.ID_EMPRESA
from	   CG_MOV_TRANSITO_CHIP M
INNER JOIN 
	   CG_TRANSITO T ON T.ID_TRANSITO = M.ID_TRANSITO
INNER JOIN 
	   CG_CHIP C ON C.ID_CHIP = M.ID_CHIP
INNER JOIN 
	   CG_OPERADORA OP ON OP.ID_OPERADORA = C.ID_OPERADORA
INNER JOIN 
	   CG_USUARIO U ON U.ID_USUARIO = M.USER_INS
LEFT JOIN 
	   CG_LOJA L ON L.ID_LOJA = M.ID_DESTINO
LEFT JOIN 
	   CG_LOJA O ON O.ID_LOJA = M.ID_ORIGEM

GO
/****** Object:  View [dbo].[VW_CG_MOV_TRANSITO_EQUIPAMENTO]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[VW_CG_MOV_TRANSITO_EQUIPAMENTO]
AS
select  M.ID_LANCTO, 
	   M.ID_TRANSITO, 
	   T.NOME_TRANSITO,
	   M.ID_ORIGEM, 
	   O.CODIGO AS CODIGO_ORIGEM,
	   O.NOME AS NOME_ORIGEM,
	   M.ID_EQUIPAMENTO, 
	   E.SERIE,
	   E.DESC_EQUIPAMENTO,
	   E.MODELO,
	   M.QUANTIDADE, 
	   M.USER_INS, 
	   U.NOME AS NOME_USUARIO,
	   M.DATA_LANCTO, 
	   M.ID_DESTINO, 
	   L.CODIGO CODIGO_DESTINO,
	   L.NOME NOME_DESTINO,
	   M.DATA_MOV_DESTINO,
	   M.ID_EMPRESA
from	   CG_MOV_TRANSITO_EQUIPAMENTO M
INNER JOIN 
	   CG_TRANSITO T ON T.ID_TRANSITO = M.ID_TRANSITO
INNER JOIN 
	   CG_EQUIPAMENTO E ON E.ID_EQUIPAMENTO = M.ID_EQUIPAMENTO
INNER JOIN 
	   CG_USUARIO U ON U.ID_USUARIO = M.USER_INS
LEFT JOIN 
	   CG_LOJA L ON L.ID_LOJA = M.ID_DESTINO
LEFT JOIN 
	   CG_LOJA O ON O.ID_LOJA = M.ID_ORIGEM

GO
/****** Object:  View [dbo].[VW_CG_MOVIMENTO_CHIP]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VW_CG_MOVIMENTO_CHIP]
AS
SELECT A.ID_ROMANEIO,
       A.DATA_MOVTO,
       A.ID_RESPONSAVEL,
       B.NOME AS RESPONSAVEL,
       B.APELIDO,
       A.ID_LOJA_ORIGEM,
       C.SIGLA AS SIGLA_ORIGEM,
       C.NOME AS NOME_ORIGEM,
       A.ID_LOJA_DESTINO,
       D.SIGLA AS SIGLA_DESTINO,
       D.NOME AS NOME_DESTINO,
       A.TIPO_OP,
	  A.QTD_RECEBIDA,
	  A.QTD_TOTAL
FROM 
	CG_MOVIMENTO_CHIP AS A
LEFT JOIN 
	CG_RESPONSAVEL AS B 
		ON A.ID_RESPONSAVEL = B.ID_RESPONSAVEL
LEFT JOIN 
	CG_LOJA AS C ON A.ID_LOJA_ORIGEM = C.ID_LOJA
LEFT JOIN 
	CG_LOJA AS D 
		ON A.ID_LOJA_DESTINO = D.ID_LOJA


GO
/****** Object:  View [dbo].[VW_CG_MOVIMENTO_CHIP_INATIVO]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[VW_CG_MOVIMENTO_CHIP_INATIVO]
AS
SELECT A.ID_ROMANEIO,
       A.DATA_MOVTO,
       A.ID_RESPONSAVEL,
       B.NOME AS RESPONSAVEL,
       B.APELIDO,
       A.ID_LOJA_ORIGEM,
       C.SIGLA AS SIGLA_ORIGEM,
       C.NOME AS NOME_ORIGEM,
       A.ID_LOJA_DESTINO,
       D.SIGLA AS SIGLA_DESTINO,
       D.NOME AS NOME_DESTINO,
       A.TIPO_OP,
	  A.QTD_RECEBIDA,
	  A.QTD_TOTAL
FROM 
	CG_MOVIMENTO_CHIP_INATIVO AS A
LEFT JOIN 
	CG_RESPONSAVEL AS B 
		ON A.ID_RESPONSAVEL = B.ID_RESPONSAVEL
LEFT JOIN 
	CG_LOJA AS C ON A.ID_LOJA_ORIGEM = C.ID_LOJA
LEFT JOIN 
	CG_LOJA AS D 
		ON A.ID_LOJA_DESTINO = D.ID_LOJA


GO
/****** Object:  View [dbo].[VW_CG_MOVIMENTO_CHIP_INATIVO_ITEM]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[VW_CG_MOVIMENTO_CHIP_INATIVO_ITEM] 
AS
SELECT A.ID_ROMANEIO,
       A.UNIQUE_KEYID,
       A.ID_CHIP,
       B.SIMID,
	   B.ID_OPERADORA,
	   C.DESC_OPERADORA,
       A.QTD,
       A.VALOR, 
	  A.TRANSITO
FROM 
	CG_MOVIMENTO_CHIP_INATIVO_ITEM AS A (NOLOCK)
LEFT JOIN 
	CG_CHIP AS B (NOLOCK)
		ON A.ID_CHIP = B.ID_CHIP
LEFT JOIN 
	CG_OPERADORA AS C (NOLOCK)
		ON B.ID_OPERADORA = C.ID_OPERADORA

GO
/****** Object:  View [dbo].[VW_CG_MOVIMENTO_CHIP_ITEM]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VW_CG_MOVIMENTO_CHIP_ITEM] 
AS
SELECT A.ID_ROMANEIO,
       A.UNIQUE_KEYID,
       A.ID_CHIP,
       B.SIMID,
	   B.ID_OPERADORA,
	   C.DESC_OPERADORA,
       A.QTD,
       A.VALOR, 
	  A.TRANSITO
FROM 
	CG_MOVIMENTO_CHIP_ITEM AS A (NOLOCK)
LEFT JOIN 
	CG_CHIP AS B (NOLOCK)
		ON A.ID_CHIP = B.ID_CHIP
LEFT JOIN 
	CG_OPERADORA AS C (NOLOCK)
		ON B.ID_OPERADORA = C.ID_OPERADORA

GO
/****** Object:  View [dbo].[VW_CG_MOVIMENTO_EQUIPAMENTO]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VW_CG_MOVIMENTO_EQUIPAMENTO]
AS
SELECT A.ID_ROMANEIO,
       A.DATA_MOVTO,
       A.ID_RESPONSAVEL,
       B.NOME AS RESPONSAVEL,
       B.APELIDO,
       A.ID_LOJA_ORIGEM,
       C.SIGLA AS SIGLA_ORIGEM,
       C.NOME AS NOME_ORIGEM,
       A.ID_LOJA_DESTINO,
       D.SIGLA AS SIGLA_DESTINO,
       D.NOME AS NOME_DESTINO,
       A.TIPO_OP,
	  A.QTD_RECEBIDA,
	  A.QTD_TOTAL
FROM 
	CG_MOVIMENTO_EQUIPAMENTO AS A
LEFT JOIN 
	CG_RESPONSAVEL AS B 
		ON A.ID_RESPONSAVEL = B.ID_RESPONSAVEL
LEFT JOIN 
	CG_LOJA AS C ON A.ID_LOJA_ORIGEM = C.ID_LOJA
LEFT JOIN 
	CG_LOJA AS D 
		ON A.ID_LOJA_DESTINO = D.ID_LOJA


GO
/****** Object:  View [dbo].[VW_CG_MOVIMENTO_EQUIPAMENTO_INATIVO]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[VW_CG_MOVIMENTO_EQUIPAMENTO_INATIVO]
AS
SELECT A.ID_ROMANEIO,
       A.DATA_MOVTO,
       A.ID_RESPONSAVEL,
       B.NOME AS RESPONSAVEL,
       B.APELIDO,
       A.ID_LOJA_ORIGEM,
       C.SIGLA AS SIGLA_ORIGEM,
       C.NOME AS NOME_ORIGEM,
       A.ID_LOJA_DESTINO,
       D.SIGLA AS SIGLA_DESTINO,
       D.NOME AS NOME_DESTINO,
       A.TIPO_OP,
	  A.QTD_RECEBIDA,
	  A.QTD_TOTAL
FROM 
	CG_MOVIMENTO_EQUIPAMENTO_INATIVO AS A
LEFT JOIN 
	CG_RESPONSAVEL AS B 
		ON A.ID_RESPONSAVEL = B.ID_RESPONSAVEL
LEFT JOIN 
	CG_LOJA AS C ON A.ID_LOJA_ORIGEM = C.ID_LOJA
LEFT JOIN 
	CG_LOJA AS D 
		ON A.ID_LOJA_DESTINO = D.ID_LOJA


GO
/****** Object:  View [dbo].[VW_CG_MOVIMENTO_EQUIPAMENTO_INATIVO_ITEM]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[VW_CG_MOVIMENTO_EQUIPAMENTO_INATIVO_ITEM] 
AS
SELECT A.ID_ROMANEIO,
       A.UNIQUE_KEYID,
       A.ID_EQUIPAMENTO,
       B.DESC_EQUIPAMENTO,
       B.SERIE,
       B.MODELO,
       A.QTD,
       A.VALOR,
	  A.TRANSITO
FROM 
	CG_MOVIMENTO_EQUIPAMENTO_INATIVO_ITEM AS A
LEFT JOIN 
	CG_EQUIPAMENTO AS B 
		ON A.ID_EQUIPAMENTO = B.ID_EQUIPAMENTO

GO
/****** Object:  View [dbo].[VW_CG_MOVIMENTO_EQUIPAMENTO_ITEM]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VW_CG_MOVIMENTO_EQUIPAMENTO_ITEM] 
AS
SELECT A.ID_ROMANEIO,
       A.UNIQUE_KEYID,
       A.ID_EQUIPAMENTO,
       B.DESC_EQUIPAMENTO,
       B.SERIE,
       B.MODELO,
       A.QTD,
       A.VALOR,
	  A.TRANSITO
FROM 
	CG_MOVIMENTO_EQUIPAMENTO_ITEM AS A
LEFT JOIN 
	CG_EQUIPAMENTO AS B 
		ON A.ID_EQUIPAMENTO = B.ID_EQUIPAMENTO

GO
/****** Object:  View [dbo].[VW_CG_MOVIMENTO_EQUIPAMENTO_QUARENTENA]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER VIEW [dbo].[VW_CG_MOVIMENTO_EQUIPAMENTO_QUARENTENA]
AS
SELECT A.ID_ROMANEIO,
       A.DATA_MOVTO,
       A.ID_RESPONSAVEL,
       B.NOME AS RESPONSAVEL,
       B.APELIDO,
       A.ID_LOJA_ORIGEM,
       C.SIGLA AS SIGLA_ORIGEM,
       C.NOME AS NOME_ORIGEM,
       A.ID_LOJA_DESTINO,
       D.SIGLA AS SIGLA_DESTINO,
       D.NOME AS NOME_DESTINO,
       A.TIPO_OP,
	  A.QTD_RECEBIDA,
	  A.QTD_TOTAL
FROM 
	CG_MOVIMENTO_EQUIPAMENTO_QUARENTENA AS A
LEFT JOIN 
	CG_RESPONSAVEL AS B 
		ON A.ID_RESPONSAVEL = B.ID_RESPONSAVEL
LEFT JOIN 
	CG_LOJA AS C ON A.ID_LOJA_ORIGEM = C.ID_LOJA
LEFT JOIN 
	CG_LOJA AS D 
		ON A.ID_LOJA_DESTINO = D.ID_LOJA



GO
/****** Object:  View [dbo].[VW_CG_MOVIMENTO_EQUIPAMENTO_QUARENTENA_ITEM]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER VIEW [dbo].[VW_CG_MOVIMENTO_EQUIPAMENTO_QUARENTENA_ITEM] 
AS
SELECT A.ID_ROMANEIO,
       A.UNIQUE_KEYID,
       A.ID_EQUIPAMENTO,
       B.DESC_EQUIPAMENTO,
       B.SERIE,
       B.MODELO,
       A.QTD,
       A.VALOR,
	  A.TRANSITO
FROM 
	CG_MOVIMENTO_EQUIPAMENTO_QUARENTENA_ITEM AS A
LEFT JOIN 
	CG_EQUIPAMENTO AS B 
		ON A.ID_EQUIPAMENTO = B.ID_EQUIPAMENTO


GO
/****** Object:  View [dbo].[VW_CG_OCORRENCIA]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[VW_CG_OCORRENCIA]
AS
select  
    A.ID_OCORRENCIA, 
    A.DATA_OCORRENCIA, 
    A.DESCRICAO, 
    A.ID_EQUIPAMENTO, 
    B.DESC_EQUIPAMENTO,
    B.MODELO,
    A.SERIE, 
    A.ID_LOJA, 
    C.CODIGO,
    C.NOME,
    A.HISTORICO, 
    A.USER_INS, 
    A.DATA_INS, 
    A.USER_UPD, 
    A.DATA_UPD,
    A.OS_VINCULADA,
	A.ID_EMPRESA
from CG_OCORRENCIA (nolock) A 
LEFT JOIN 
    CG_EQUIPAMENTO (nolock)  B
	   ON B.ID_EQUIPAMENTO = A.ID_EQUIPAMENTO
LEFT JOIN 
    CG_LOJA (nolock)  C
	   ON C.ID_LOJA = A.ID_LOJA





GO
/****** Object:  View [dbo].[VW_CG_OS]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VW_CG_OS]
AS
SELECT A.ID_OS,
       A.DATA_MOVTO,
       A.ID_LOJA_ORIGEM,
       E.SIGLA AS SIGLA_LOJA,
       E.NOME AS NOME_LOJA,
       A.NF_TRANSP,
       A.SERIE_NF_TRANSP,
       A.EMISSAO_NF_TRANSP,
       A.ID_FORNECEDOR,
       B.SIGLA AS SIGLA_FORNECEDOR,
       B.UTILIZA_NFTS,
       B.NOME AS NOME_FORNECEDOR,
       A.ID_RESPONSAVEL_IDA,
       C.NOME AS RESPONSAVEL,
       C.APELIDO AS APELIDO_RESPONSAVEL,
       A.STATUS_OS,
       D.DESC_STATUS,
       A.XML_NF_TRANSP,
       A.XML_NF_TS,
	   A.ID_EMPRESA
FROM 
	CG_OS AS A (NOLOCK)
LEFT JOIN 
	CG_FORNECEDOR AS B (NOLOCK)
		ON A.ID_FORNECEDOR = B.ID_FORNECEDOR
LEFT JOIN 
	CG_RESPONSAVEL AS C (NOLOCK)
		ON A.ID_RESPONSAVEL_IDA = C.ID_RESPONSAVEL
LEFT JOIN 
	CG_STATUS_OS AS D (NOLOCK)
		ON A.STATUS_OS = D.ID_STATUS
LEFT JOIN 
	CG_LOJA AS E (NOLOCK)
		ON A.ID_LOJA_ORIGEM = E.ID_LOJA


GO
/****** Object:  View [dbo].[VW_CG_OS_ITEM]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER VIEW [dbo].[VW_CG_OS_ITEM]
AS
SELECT A.ID_OS,
       A.ITEM_ID,
       A.ID_EQUIPAMENTO,
       B.ID_TIPO_EQUIPAMENTO,
       D.DESC_TIPO_EQUIPAMENTO,
       B.DESC_EQUIPAMENTO,
       B.SERIE,
       B.MODELO,
       B.ID_FORNECEDOR,
       E.SIGLA AS SIGLA_FORNECEDOR,
       E.UTILIZA_NFTS,
       E.NOME AS NOME_FORNECEDOR,
       B.PROTOCOLO,
       A.PREVISAO_RETORNO,
       A.DATA_RETORNO,
       A.DESC_DEFEITO,
       A.CONSERTO_OK,
       A.NF_FORNEC,
       A.SERIE_NF_FORNEC,
       A.EMISSAO_NF_FORNEC,
	  A.OBS_RETORNO,
       A.ID_RESPONSAVEL_RET,
       C.NOME AS RESPONSAVEL,
       C.APELIDO AS APELIDO_RESPONSAVEL,
       A.XML_NF_FORNEC,
       A.LAUDO_FORNEC,
	  A.GARANTIA,
	  A.RECEBIDO,
	  A.VALOR_CONSERTO,
	  A.CONFIG_GARANTIA, 
	  ISNULL(A.QTDE_DIAS_GARANTIA,0) AS QTDE_DIAS_GARANTIA,
	  A.DATA_INICIO_GARANTIA, 
	  A.DATA_TERMINO_GARANTIA,
	  A.ID_OCORRENCIA,
	  A.ID_EMPRESA
FROM 
	CG_OS_ITEM AS A (NOLOCK)
LEFT JOIN 
	CG_EQUIPAMENTO AS B (NOLOCK)
		ON A.ID_EQUIPAMENTO = B.ID_EQUIPAMENTO
LEFT JOIN 
	CG_RESPONSAVEL AS C (NOLOCK)
		ON A.ID_RESPONSAVEL_RET = C.ID_RESPONSAVEL
LEFT JOIN 
	CG_TIPO_EQUIPAMENTO AS D (NOLOCK)
		ON B.ID_TIPO_EQUIPAMENTO = D.ID_TIPO_EQUIPAMENTO
LEFT JOIN 
	CG_FORNECEDOR AS E (NOLOCK)
		ON B.ID_FORNECEDOR = E.ID_FORNECEDOR



GO
/****** Object:  View [dbo].[VW_CG_PECA]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VW_CG_PECA]
AS
SELECT cg_peca.id_peca,
       cg_peca.nome_peca,
       cg_peca.descricao,
       cg_peca.id_marca,
       cg_marca.desc_marca,
       cg_peca.id_categoria,
       cg_categoria.desc_categoria,
       cg_peca.id_fornecedor,
       cg_fornecedor.sigla,
       cg_fornecedor.nome,
       cg_peca.id_finalidade,
       cg_finalidade.desc_finalidade,
       cg_peca.estoque,
       cg_peca.estoque_min,
       cg_peca.estoque_max,
       cg_peca.unidade,
       cg_peca.data_aquisicao,
       cg_peca.dias_garantia,
       cg_peca.custo,
       cg_peca.ref_fornec,
       cg_peca.obs,
       cg_peca.user_ins,
       cg_peca.data_ins,
       cg_peca.user_upd,
       cg_peca.data_upd,
	  cg_peca.CODIGO as ID_CONTROLE
	  
FROM   cg_peca
       INNER JOIN cg_categoria
               ON cg_peca.id_categoria = cg_categoria.id_categoria
       INNER JOIN cg_finalidade
               ON cg_peca.id_finalidade = cg_finalidade.id_finalidade
       INNER JOIN cg_fornecedor
               ON cg_peca.id_fornecedor = cg_fornecedor.id_fornecedor
       INNER JOIN cg_marca
               ON cg_peca.id_marca = cg_marca.id_marca  

GO
/****** Object:  View [dbo].[VW_CG_PEDIDO_COMPRA_PECA]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VW_CG_PEDIDO_COMPRA_PECA]
AS
 SELECT a.id_pedido,
       a.tipo_pedido,
       a.status_pedido,
       a.id_fornecedor,
       b.nome as nome_fornecedor,
       b.sigla as sigla_fornecedor,
       a.id_comprador,
       c.nome AS Nome_comprador,
       c.apelido As Apelido_comprador,
       a.data_compra,
       a.previsao_entrega,
       a.data_recebimento,
       a.obs_pedido,
       a.user_ins,
       a.data_ins,
       a.user_upd,
       a.data_upd,
       a.romaneio_estoque,
       a.qtd_total,
       a.qtd_recebida
FROM   dbo.cg_pedido_compra_peca AS a
       INNER JOIN dbo.cg_fornecedor AS b
               ON a.id_fornecedor = b.id_fornecedor
       INNER JOIN dbo.cg_usuario AS c
               ON a.id_comprador = c.id_usuario  
GO
/****** Object:  View [dbo].[VW_CG_RESPONSAVEL]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VW_CG_RESPONSAVEL]
AS
SELECT A.ID_RESPONSAVEL,
       A.NOME,
       A.APELIDO,
       A.EMAIL,
       A.CELULAR,
       A.WHATSAPP,
       A.ID_CARGO,
       B.DESC_CARGO,
	   a.ID_EMPRESA
FROM 
	CG_RESPONSAVEL AS A
LEFT JOIN 
	CG_CARGO AS B 
		ON A.ID_CARGO = B.ID_CARGO

GO
/****** Object:  View [dbo].[VW_CG_USUARIO]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[VW_CG_USUARIO]
AS
SELECT A.ID_USUARIO,
       A.APELIDO,
       A.NOME,
       A.CPF,
       A.RG,
       A.EMAIL,
       A.TELEFONE,
       A.WHATSAPP,
       A.CEP,
       A.ENDERECO,
       A.COMPLEMENTO,
       A.CIDADE,
       A.BAIRRO,
       A.UF,
       A.LOGIN,
       A.ID_STATUS,
       B.DESC_STATUS,
	   A.ID_EMPRESA
FROM 
	CG_USUARIO AS A
LEFT JOIN 
	CG_STATUS AS B ON A.ID_STATUS = B.ID_STATUS





GO
/****** Object:  View [dbo].[VW_ROMANEIO_ESTOQUE]    Script Date: 15/12/2017 21:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VW_ROMANEIO_ESTOQUE]
AS

select 
ROMANEIO, MODULO, TIPO_PRODUTO, TIPO_OP, DATAMOV, A.ID_USUARIO, B.NOME
from [dbo].[ROMANEIO_ESTOQUE] A
LEFT JOIN 
    CG_USUARIO B
	   ON B.ID_USUARIO = A.ID_USUARIO

GO
