USE [dbCG]
GO
/****** Object:  StoredProcedure [dbo].[spDel_Cg_equipamento_vs_chip]    Script Date: 24/02/2018 09:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDel_Cg_equipamento_vs_chip]	@ID_EQUIPAMENTO As int,	@ID_CHIP As intASBEGINDELETE FROM CG_EQUIPAMENTO_VS_CHIP WHERE	ID_EQUIPAMENTO = @ID_EQUIPAMENTO AND	ID_CHIP = @ID_CHIPEND------------------------------------------------------------
GO
