USE [dbCG]
GO
/****** Object:  StoredProcedure [dbo].[spDel_Cg_motivo]    Script Date: 24/02/2018 09:24:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[spDel_Cg_motivo]

	@ID_MOTIVO As int

AS

BEGIN
DELETE FROM CG_MOTIVO WHERE
	ID_MOTIVO = @ID_MOTIVO

END
------------------------------------------------------------



GO
