USE [dbCG]
GO
/****** Object:  Trigger [dbo].[TGR_ROMANEIO_ESTOQUE_ITEM]    Script Date: 03/11/2017 09:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TGR_CG_MOV_TRANSITO_EQUIPAMENTO] 
	   ON [dbo].[CG_MOV_TRANSITO_EQUIPAMENTO] FOR INSERT 
AS
BEGIN
    DECLARE 
	   @ID_LANCTO BIGINT,
	   @ID_TRANSITO INT,
	   @ID_ORIGEM INT,
	   @ID_EQUIPAMENTO INT, 
	   @QUANTIDADE INT, 
	   @USER_INS INT, 
	   @DATA_LANCTO DATETIME,
	   @ID_DESTINO INT,
	   @DATA_MOV_DESTINO DATETIME,
	   @TIPO_LOCAL CHAR(1),
	   @TRANSITO BIT,
	   @ID_LOCAL_PARA INT,
	   @DATAMOV DATETIME 
    
    SELECT
	   @ID_LANCTO =i.ID_LANCTO,
	   @ID_TRANSITO = i.ID_TRANSITO,
	   @ID_ORIGEM = i.ID_ORIGEM,
	   @ID_EQUIPAMENTO  = i.ID_EQUIPAMENTO, 
	   @QUANTIDADE = i.QUANTIDADE, 
	   @USER_INS = i.USER_INS, 
	   @DATA_LANCTO = i.DATA_LANCTO,
	   @ID_DESTINO = i.ID_DESTINO,
	   @DATA_MOV_DESTINO = i.DATA_MOV_DESTINO
    FROM inserted i


    SET @TIPO_LOCAL = 'L' /* LOJA -> DEFAULT */
    SET @TRANSITO = 0 /* ESTA EM LOJA L -> ENTAO @TRANSITO = 0 */
    SET @ID_LOCAL_PARA = @ID_DESTINO /* ESTA EM LOJA L ENTAO IGUALA @ID_LOCAL_PARA COM @ID_DESTINO */
    SET @DATAMOV = @DATA_MOV_DESTINO

    IF ISNULL(@ID_DESTINO,0) = 0
    BEGIN
	   SET @TIPO_LOCAL = 'T' /* TRANSITO */
	   SET @TRANSITO = 1 /* ESTA EM TRANSITO T -> ENTAO @TRANSITO = 1 */
        SET @ID_LOCAL_PARA = @ID_TRANSITO /* ESTA EM LOJA L ENTAO IGUALA @ID_LOCAL_PARA COM @ID_DESTINO */
	   SET @DATAMOV = @DATA_LANCTO
    END
     
    IF NOT EXISTS(SELECT 1 FROM CG_ESTOQUE_EQUIPAMENTO WHERE ID_EQUIPAMENTO = @ID_EQUIPAMENTO) /*SE REGISTRO NÃO EXISTE - INSERT*/
    BEGIN
		  INSERT INTO CG_ESTOQUE_EQUIPAMENTO (
				id_EQUIPAMENTO,
				estoque,
				transito,
				id_local,
				datamov,
				TIPO_LOCAL)
		  VALUES (
				@ID_EQUIPAMENTO,
				@QUANTIDADE,
				@transito,
				@ID_LOCAL_PARA,
				@datamov,
				@TIPO_LOCAL)
    END
    ELSE
    BEGIN
	   UPDATE CG_ESTOQUE_EQUIPAMENTO SET
			 estoque = @QUANTIDADE,
			 transito = @transito,
			 id_local = @ID_LOCAL_PARA,
			 datamov = @datamov,
			 TIPO_LOCAL=@TIPO_LOCAL
	   WHERE
			 ID_EQUIPAMENTO = @ID_EQUIPAMENTO

    END


END


